[2018-02-02 07:15] alonstar opened #1 "How do I make unauthorized return 401?"
I can see the error  400 for  "message": "You are not authorized to run this query. Required claim 'role' with any value of 'member' is not present.".

But I need to return 401 http status code, What can I do?

	public class MyType : ObjectGraphType
	{
		public MyType()
		{
			this.AuthorizeWith("AdminPolicy");
			Field<StringGraphType>("name");
		}
	}

[2018-02-02 07:27] joemcbride commented on #1
You would need to handle that in your http server.  If you are using the `server` project then this is the code that would need to be changed:

https://github.com/graphql-dotnet/server/blob/a54a95f3807ade7aa4e23cce76fe8e58211053a0/src/AspNetCore/GraphQLHttpMiddleware.cs#L77

At present it just does a 400 error on any error.

[2018-02-02 07:41] ntaranov commented on #1
private async Task WriteResponseAsync(HttpContext context, ExecutionResult result)
        {
            var json = _writer.Write(result);

            context.Response.ContentType = "application/json";
            context.Response.StatusCode = result.Errors?.Any() != true
                ? (int)HttpStatusCode.OK
                : result.Errors?.Any(er => (er as ValidationError)?.ErrorCode  == "au

[2018-02-02 08:00] joemcbride opened #2 "Check authorization of returned type"
At present the validation rule doesn’t check the returned `GraphType` of the `Field` that is being request, only that the current `Field` itself is allowed.  The returned `GraphType` may have different authorization policies applied to it.

https://github.com/graphql-dotnet/authorization/blob/b9f3edf723ec7025c90760abc26d674dc0152a9f/src/GraphQL.Authorization/AuthorizationValidationRule.cs#L40

I b

[2018-02-02 08:05] alonstar commented on #1
oh, I got it , thanks.

[2018-02-02 08:05] #1 closed

[2018-05-09 14:57] ProudOne opened #5 "In multi-query documents, trigger authorization rules on targeted queries only"
Currently, if being invoked on an input document with multiple named queries, auth validation walks the entire document. This leads to the request being rejected if any of the queries in the document fail authorization even if the failing queries are not requested.

The entire document will be traversed here: [Line 59 in DocumentValidator.cs](https://github.com/graphql-dotnet/graphql-dotnet/blob/2

[2018-05-25 06:11] jalchr opened #6 "Can I authorize per multiple policies ?"
Using the GraphQLAuthorize attribute, can I apply multiple policies at once ...
like ["Admin", "Teacher"] .
Then any user that has any of those claims get authorized.

[2018-05-26 17:16] Tochemey opened #7 "Authorization and JWT"
Hello,

I would like to know how can one combine JWT and the authorization toolset. The scenario is I would like to provide an endpoint to get a JWT token and then use that token during the graph operations. Please educate me on how to go about it.

[2018-05-26 19:39] joemcbride commented on #7
You would handle the JWT outsid of GraphQL Auth.  See https://developer.okta.com/blog/2018/03/23/token-authentication-aspnetcore-complete-guide

You would then create GraphQL Auth Policies that check the claims in the ClaimsPrinciple.  The ClaimsPrinciple gets populated from the JWT.

[2018-05-29 07:35] Tochemey commented on #7
Hello,

Please can you educate me on how to create the graphql auth policy.

[2018-05-29 09:18] Tochemey commented on #7
Hello

I have tried this:

[code]
I would like to know what else should I do to get the authenticated user.

[2018-05-31 14:17] joemcbride commented on #6
Not at present, no.  You can have a policy like “TeacherOrAdmin”.

[2018-06-01 04:34] jalchr commented on #6
I see that might be a good solution.
Is this a limitation in "AuthorizeWith" ?
Any future plans ?

[2018-06-06 21:06] joemcbride commented on #6
If I were to add multiple policy support, it would probably function like the .NET Core one does, in an `&` scenario.  So it would end up as `Admin AND Teacher`, which is probably not what you want.

[2018-06-11 07:06] jalchr commented on #6
mmm ... I believe it is more like `Admin OR Teacher`. The idea is to support multiple policies at same time ... and should not intersect.

[2018-06-12 05:28] joemcbride commented on #6
I understand.  If I were to implement it I would just prefer it to behave like ASP.NET Core does to avoid confusion.

https://stackoverflow.com/a/35610142/279764

[2018-06-12 05:39] #2 closed

[2018-06-15 12:48] boxofnotgoodery opened #10 "Full example project?"
I've tried to follow the given example code, but I'm not seeing anything happening in my api.

Is there a full example available?

If you could get a very basic one, I'd be more than willing to enhance it.

[2018-08-03 11:49] RehanSaeed opened #11 "Duplication with ASP.NET Core"
The following code looked a lot like ASP.NET Core to me but to my surprise it lived in the GraphQL namespace:

[code]

The `AuthorizationPolicyBuilder` in ASP.NET Core has methods for `RequireAuthenticatedUser` and `RequireAssertion` which can be very useful. I was considering submitting a PR for these perhaps this project should just be using `Microsoft.AspNetCore.Authorization` in the first plac

[2018-08-03 15:11] joemcbride commented on #11
This is on purpose.  The core GraphQL library is server agnostic.  This is also server agnostic.

[2018-08-07 16:47] som-nitjsr commented on #7
HI @joemcbride  I am using app.UseGraphQLHttp<ISchema>(options);
  I am not using controller.
my issue is I have to call jwt token validation manually. I wanted to get it called automatically.

[2018-08-08 07:51] RehanSaeed commented on #11
So the intention is that this package can be used without the GraphQL.Server NuGet package? The downsides to this approach is that it's extra code you have to maintain, things get out of sync as in this case some methods I've listed are missing and you miss out on code that people have already written.

Surely, the most likely scenario for developers using GraphQL.NET is that they would host it us

[2018-08-09 22:52] joemcbride commented on #11
It can be used in combination with it or without it.  This project just provides an Authorization layer for your Graph types.  What transport server you're using does not matter.

The GraphQL project targets both .NET Core and .NET Classic.  So providing a lib that only worked with ASP.NET Core would exclude those who would need a solution for .NET Classic.

I do not disagree, though this solution

[2018-08-09 22:57] joemcbride commented on #11
This example does use the `GraphQL.Server.Transports.AspNetCore` library.

https://github.com/graphql-dotnet/examples/tree/master/src/AspNetCore

[2018-08-10 10:52] RehanSaeed commented on #11
`Microsoft.AspNetCore.Authorization` follows .NET Standard 2.0, so you could also use it with full framework 4.6.1 and above.

[2018-08-10 18:43] joemcbride commented on #11
Have you tried to integrate a .NET Standard nuget into an existing ASP.NET MVC or WPF project?  Its a mess.  Especially if that project is using paket and has both NetStandard 1.x and NetStandard 2.x references.  We have done so at my work.  It took hours to resolve version conflicts and binding redirects due to the dependency chain.  Other developers just gave up and I had to jump in to get it wo

[2018-08-13 10:04] RehanSaeed commented on #11
Understood.

Would you accept a PR that used `Microsoft.AspNetCore.Authorization` for .NET standard and the duplicate code for .NET full framework? In the past when .NET Core had less API surface area, it was common to use `#if NETSTANDARD_2_0` pre-processor directives to support both.

[2018-08-15 14:56] #10 closed

[2018-08-16 09:41] RehanSaeed commented on #11
Raised a PR https://github.com/graphql-dotnet/authorization/pull/13 with my ideas around this. Makes life for ASP.NET Core devs simpler while maintaining the existing code for .NET 4.6 devs.

[2018-08-20 09:58] bhushansahni opened #15 "If the policy being used to Authorize is not in defined policy list, it allows anonymous users to bypass it."
https://github.com/graphql-dotnet/authorization/blob/8ec6cd84854d293f9c250daf79c60dc91a5907d0/src/GraphQL.Authorization/AuthorizationEvaluator.cs#L38

Can we add a check to validate it?
            if (authPolicies.Count == 0)
            {
                return AuthorizationResult.Fail(new List<string>() { "Unauthorized! " }); //Or some relevant message?
            }

[2018-08-23 07:24] cotzo opened #16 "Authorization ignored on Input Arguments"
When using AuthorizeWith on the Fields that are used for query, everything works fine but it is ignored when set on arguments that implement InputObjectGraphType. Authorization of fields in the argument is not implemented?

[code]

[2018-08-23 14:49] joemcbride commented on #16
Correct, the validation rule does not currently check Input objects.  You want to restrict users from providing a field on input?

[2018-08-23 15:01] cotzo commented on #16
Hi Joe. That's correct. You have any easy way to do it? Thanks

[2018-08-23 15:15] joemcbride commented on #16
I believe it should be able to be done by adding another match on `ObjectField`.  Up to doing a PR for it?

https://github.com/graphql-dotnet/authorization/blob/8ec6cd84854d293f9c250daf79c60dc91a5907d0/src/GraphQL.Authorization/AuthorizationValidationRule.cs#L29

[2018-08-23 17:30] cotzo commented on #16
#17

[2018-08-24 20:12] cotzo commented on #16
Fixed in ver 1.1.26

[2018-08-24 20:12] #16 closed

[2018-09-17 20:35] joeaudette commented on #11
Hi,
I also landed on this issue thinking the same thing. I'm using only asp.net core and there is already an available system for authorization policies, so I don't want to have to register another set of policies that work similarly but not exactly the same as my existing policies. I was considering forking and modifying this project for use specifically in AspNet Core so it uses the same authori

[2018-09-18 07:41] RehanSaeed commented on #11
Hi @joeaudette, glad to see you working on GraphQL.

Yes, perhaps splitting this into two projects is a cleaner approach. As you say there is not much code. You could pretty much take my PR and paste it into a new project. We may need to rebase it, as I think there has been a PR accepted since I submitted this one. What are your thoughts @joemcbride?

[2018-09-18 12:08] joeaudette commented on #11
Hi @RehanSaeed just looking at your branch now, it looks good to me and I see for aspnetcore the number  of needed files is reduced a lot vs full framework. I think I will paste the files into a new project to try it out but hope it can be an official version one way or another once @joemcbride has a chance to review it. I think it does make sense to move it to a separate project so it can be a se

[2018-09-19 05:05] ciwchris commented on #11
Hi @joeaudette I just started looking into this as well. I'd love to hear a report back on how it goes creating your own project and pasting in the solution.

[2018-09-19 11:16] joeaudette commented on #11
Hi @RehanSaeed and @ciwchris

I did copy the files into a new project and got it working yesterday. I have a repository [here](https://github.com/cloudscribe/graphql) where I'm playing with GraphQL and Blazor. The authorization project is [here](https://github.com/cloudscribe/graphql/tree/master/src/GraphQL.Authorization.AspNetCore)

Nice work by @RehanSaeed , the authorization project works great

[2018-09-19 11:35] RehanSaeed commented on #11
Perhaps it should be configurable using an `IOptions<T>`, that way you could use `IHostingEnvironment` if you wanted?

I don't think it's a security concern to expose the reason authentication/authorization failed but I could be wrong. In GraphQL it's useful to know whether you failed authentication or authorization as you don't get 401 or 403 response codes as you would in a REST API, the error r

[2018-09-19 11:44] joeaudette commented on #11
Currently it is exposing role names in the reason message which I would not want to disclose in production.
Just tested and I get a 204 response for error and 200 for success.

[2018-09-19 11:48] RehanSaeed commented on #11
In that case we could provide some kind of generic error message mode as you suggest.

A 204 for error seems like a bug, since GraphQL provides a response body.

[2018-09-19 11:50] joeaudette commented on #11
I'm glad it returns a different response code for error otherwise I would try to deserialize the response into my model, this way I can deserialize it into a different model for error that matches the json response. So I don't see that as a bug but a feature.
Note I'm using Blazor for the client so deserializing the response into a C# model.

[2018-09-19 11:54] RehanSaeed commented on #11
You can use the existence of an `error` property in the JSON to detect an error. I'm not sure what the official GraphQL spec says, but GraphQL.NET recently fixed a "bug" in which they stopped returning 400 Bad Request for an invalid GraphQL request and instead returned 200 OK.

At the time I wrote this PR, I was also thinking that it would be nice to provide a way for a custom authorization requir

[2018-09-19 11:54] joeaudette commented on #11
Oops I was wrong, I'm getting 200 for error. That makes it hard to know how to handle the response.

[2018-09-19 11:57] joeaudette commented on #11
See in my case I'm not dealing directly with the json, I'm deserializing it into a c# object in the blazor client. I would have preferred a different status code to know, ie code like this in blazor:

    protected override async Task OnInitAsync()
    {
        var query = new GraphQLRequest
        {
            Query = @"
            {
              siteList {
                id,

[2018-09-19 11:59] joeaudette commented on #11
as it is I guess I have to inspect the string to detect the error

[2018-09-19 12:02] RehanSaeed commented on #11
While I think Blazor is super cool and would love to do more with it, this is one major reason I've been using Vue with Vue-Apollo. The GraphQL.NET HttpClient does nothing very useful and you have to hand code things as you've done. That said, it's early days, for Blazor and GraphQL.NET.

[2018-09-19 12:07] joeaudette commented on #11
I tried to use the GraphQLHttpClient in Blazor but got errors, I think it is using newtonsoft.json which doesn't currently work in Blazor but they have a more simple util for serialize/deserialize json in Blazor.
Really this code is just proof of concept so far, I can tidy it up by writing my own helpers and extensions.

But yes, early days for sure. Still I find it compelling to write my client s

[2018-09-19 12:49] joeaudette commented on #11
I just cleaned up my code with an extension method to handle the boilerplate code for graphql api requests, so now it looks like this in Blazor:

    SiteListModel model = null;
    ErrorModel errorModel = null;

    protected override async Task OnInitAsync()
    {
        var query = new GraphQLRequest
        {
            Query = @"
            {
              siteList {
                id,

[2018-09-19 15:51] joemcbride commented on #11
I would be fine with having two different projects, one specific to ASP.NET Core.  There is a little too much `#if` in #13 for me to feel comfortable pulling it in.

[2018-09-21 12:51] joeaudette commented on #11
This is great! @RehanSaeed will you make a new pull request to add it as a separate project? Btw, I updated [my copy](https://github.com/cloudscribe/graphql/blob/master/src/GraphQL.Authorization.AspNetCore/AuthorizationValidationRule.cs) to use IOptions of T to pass in a setting whether to include error details as you suggested.

[2018-09-21 14:40] RehanSaeed commented on #11
If this is now ASP.NET Core specific, I wonder if I should just submit the PR to the server repo where all the other ASP.NET Core stuff lives, then I can take a dependency on their core project and add a `AddGraphQLAuthorization` to the `IGraphQLBuilder` interface (I think that is what it was called).

[2018-09-24 12:36] joeaudette commented on #11
Hi @RehanSaeed and @joemcbride

Yesterday I got my first subscription working but ran into an issue with the [AuthorizationValidationRule](https://github.com/cloudscribe/graphql/blob/master/src/GraphQL.Authorization.AspNetCore/AuthorizationValidationRule.cs)

The problem is here:

    public INodeVisitor Validate(ValidationContext context)
        {
            var userContext = context.UserContex

[2018-09-24 13:37] RehanSaeed commented on #11
I'm not sure, I haven't tried auth with subscriptions. I'd be interested in your solution.

[2018-09-24 14:38] joeaudette commented on #11
I see in the [server readme](https://github.com/graphql-dotnet/server):

But this doesn't seem to be true and I don't see that in the sample.
I guess I can try implementing an IOperationMessageListener and try to add it myself, but it seems like this should be built in according to the readme.

[2018-09-24 15:14] joeaudette commented on #11
Ok, I did get this working. But it required adding the user context directly in the Authorization project because it has to know the type to get it from properties and I had to implement a IOperationMessageListener to add the usercontext to the properties of the MessageHandlingContext

    public class GraphQLUserContext : IProvideClaimsPrincipal
    {
        public ClaimsPrincipal User { get; se

[2018-09-24 15:27] joeaudette commented on #11
I take back the part that it has to know the type of usercontext, it can get it just using the interface like this:

    var userContext = context.UserContext as IProvideClaimsPrincipal;

            if(userContext == null && context.UserContext is MessageHandlingContext)
            {
                var subscriptionContext = context.UserContext as MessageHandlingContext;
                userCont

[2018-10-09 14:14] benmccallum commented on #7
I've got a similar issue to you @som-nitjsr. Just trying to figure out how this works when using graphql-dotnet/server. We can't just add the Authorize attribute onto our controller to make the AuthorizeEvents trigger. What did you end up doing?

[2018-10-09 15:35] benmccallum commented on #7
Is adding `.UseAuthentication();` enough? My HttpContext.User never seems to have any claims or properties set though I'm not 100% sure if this is an issue with the token or not.

[2018-10-09 15:48] som-nitjsr commented on #7
services.AddGraphQLAuth(_ =>
            {
               // _.AddPolicy("dev", p => p.RequireClaim("role", "dve") || p.RequireClaim("role", "admin"));
                _.AddPolicy("AdminPolicy", p => p.RequireClaim("Role", "Manager"));

            });

 public static class GraphQLAuthExtensions
    {
        public static void AddGraphQLAuth(this IServiceCollection services, Action<AuthorizationS

[2018-10-09 16:05] benmccallum commented on #7
cheers :)

[2018-10-10 08:13] benmccallum commented on #11
I think another project for asp.net core is good. In terms of adding it to the server repo so you can do `AddGraphQLAuthorization` from `IGraphQLBuilder`, I'm not so sure.

Like the aspnet guys do, we could have some kind of lightweight abstraction package. Would be weird to have a dependency to `GraphQL.Server.Abstractions` from  `GraphQL.Authorization.AspNetCore` if you're not using the server,

[2018-10-10 11:29] RehanSaeed commented on #11
New PR raised in the server project at https://github.com/graphql-dotnet/server/pull/171

[2018-10-16 13:15] ralle93 commented on #7
I am currently building a SPA aswell. That uses JWT. Can you guys show me the code for your project. I can't seem to make it work in any way...

[2018-10-18 13:29] okarlsson opened #20 "Require authentication with JWT for only a subset of queries and mutations"
I have a use case where I want a subset of my queries and mutations to require authentication with a jwt token and another subset that requires authentication.

I have set up the JWT authentication in startup like this

[code]
I then need to put the `[Authorize]` attribute on my endpoint to read the JWT token, but then I wont get access to the endpoints that I want to be available without authenti

[2018-10-19 09:33] okarlsson commented on #20
So I've researched this some more and it seems like I can get away without using the `[Authorize]` attribute on my endpoint. The UserContext gets populated from the JWT token without the attribute.

This means that I could solve this by making sure that my users always have a role in the JWT token.

So I can register some policies like this:
[code]

And then use them on my fields like this:
[code]

[2018-10-19 12:30] leddt opened #21 "Not working with GraphQL package >=2.2"
When updating to the latest version of the GraphQL package (2.3.0 at the time of raising this issue), I get an exception when calling `.AuthorizeWith("my-policy")` :

This seems to be because the GraphQL package removed the `EnumerableExtensions.Fill` method in version 2.2.

[2018-10-19 15:21] #21 closed

[2018-10-19 15:29] joemcbride commented on #21
Pushed 2.0.27 to NuGet.org with the fix

[2018-10-19 15:33] joemcbride commented on #20
As long as the `ClaimsPrincipal` is getting populated, should be fine.

[2018-10-19 15:35] joemcbride commented on #11
Closing this as the PR in the server project has been merged.

[2018-10-19 15:35] #11 closed

[2018-10-19 15:42] RehanSaeed commented on #21
I guess we need to make the same change in the server auth project.

[2018-10-20 11:18] okarlsson commented on #20
Awesome, thanks @joemcbride!

Closing this issue.

[2018-10-20 11:18] #20 closed

[2018-10-28 17:34] mohsin31 opened #23 "EnumerableExtensions"
Please help
EnumerableExtensions class in present in 2.0 but not available in 2.3.
 What is alternate for  =>  ist.Fill(policy);
 public static void AuthorizeWith(this IProvideMetadata type, string policy)
        {
            var list = GetPolicies(type);
            list.Fill(policy); // Available in 2.0 but not in 2.3
            type.Metadata[PolicyKey] = list;
        }

[2018-10-28 17:35] joemcbride commented on #23
This is fixed in version `2.0.27` of `GraphQL.Authorization`.  See #21

[2018-10-28 17:35] #23 closed

[2018-10-28 17:39] mohsin31 commented on #23
Thanks it is working.

[2018-11-02 17:34] kmanev073 opened #24 "Access User's Claims from Inside a Mutation?"
Hello guys!
I am trying to use JWT authentication and now I need to get some info out of my token from inside my mutation. I can use IHttpContextAccesor, get the token from the request header and manually take out what I need. This is kinda not cool so is there a way to access the user's claims from a mutation?

My mutation code:
[code]

That UserContext seems empty.

I tried generating my token i

[2018-11-02 22:56] joemcbride commented on #24
You should have some code that looks something like the following, to populate the User on your `UserContext` class.

[code]

How are you building and passing your `UserContext` to the GraphQL Engine?

[2018-11-03 18:07] kmanev073 commented on #24
I was looking at this example: [https://github.com/graphql-dotnet/authorization/blob/master/src/Harness/Startup.cs](url)

[2018-11-03 19:06] joemcbride commented on #24
If you’re using that example then it should be working...

[2018-11-03 20:55] kmanev073 commented on #24
Yeah, you are right. It works. My context is really set to my own GraphQLUserContext. However I can't access the claims that are in my token. Probably I'm not generating my token correctly. Is there any example I can check? Thanks in advance!

[2018-11-10 19:06] kmanev073 commented on #24
Anyone?

[2018-11-11 00:30] ddecours opened #25 "Confusion with extension methods - looking for a more complete example"
I am trying to add authorization logic to an ASP.NET core application utilizing graphql-dotnet with your authorization strategy (field level, type level, etc.).

You reference some examples by pasting in a few functions (which I assume are extensions), such as UseGraphQLWithAuth and AddGraphQLWithAuth.    I found in the examples where AddGraphQLWithAuth is defined in authorization/src/Harness/Grap

[2018-11-12 10:04] RehanSaeed commented on #25
You can see a fully working example with auth using the [ASP.NET Core GraphQL.NET Boxed](https://github.com/Dotnet-Boxed/Templates/blob/master/Docs/GraphQL.md) project template.

You should be aware I submitted a PR to create a new auth NuGet package which builds on top of the ASP.NET Core auth packages. This PR was [merged](https://github.com/graphql-dotnet/server/tree/develop/src/Authorization.A

[2018-11-13 19:34] #24 closed

[2018-11-13 19:51] kmanev073 opened #26 "Creating JWT with Role Claims"
Hello!

I was searching for examples but couldn't find anything that shows how to create a JWT token that can hold the user's roles. I see some examples like this:
`authSettings.AddPolicy("AdminPolicy", _ => _.RequireClaim("role", "Admin"))`
Anyway I can't understand how to add that claim into my JWT token. Before I started using GraphQL I was generationg my JWTs with this code:
[code]
The roles a

[2018-11-13 20:03] joemcbride commented on #26
[code]

My understanding is that would create a `roles` claim with multiple values, assuming that serializes to an array.  The example uses a singular `role` claim.

Did you try matching the name of the claim to your `roles`?  At a minimum, the name of the claims have to match.

[2018-11-13 20:07] kmanev073 commented on #26
Yeah this just creates an array of strings (the role names) and places it inside the token. I should be able access my token claims with `context.UserContext.Claims ` from inside a mutation for example, however my roles aren't there.

[2018-11-13 20:09] joemcbride commented on #26
Is it populated at all?  Is _any_ of the information there?

[2018-11-13 20:59] kmanev073 commented on #26
Here is a screenshot of my context: [https://i.imgur.com/lp6Noch.png](url)
And here's how my JWT looks:
[code]

[2018-11-13 21:24] joemcbride commented on #26
If you look at that screenshot the `Identity.IsAuthenticated` is false.  That means the `ClaimsPrincipal` is not getting populated.  How have you configured your `JwtBearer` authentication?  Is it set to be enabled by default?

You're passing that in a http `Authorization` header?  You should see the ASP.NET Core JwtBearer middleware handling the request in logs.

[code]

[code]

[2018-11-13 22:44] kmanev073 commented on #26
It worked! I had missed: `app.UseAuthentication();` and I was passing the Authorization header wrongly. Thank you!

[2018-11-13 22:44] #26 closed

[2018-11-15 13:57] okarlsson opened #27 "Auth not working for InputObjectGraphType<>"
I'm having some issues with auth between input and output types. With the following types I only got an error if I tried to use the name field in a query, but not in my mutation.

I'm using GraphQL.Authorization 2.0.27 and it seems like this should have been resolved in #17 ?

[code]

[code]

[2018-11-15 14:02] okarlsson commented on #1
If anyone else bumps into this:

I just build a simple if statement that checks for authorization errors in the ExecutionResult like this:

[code]

[2018-11-19 15:59] drowhunter opened #28 "Allow introspection to skip validation"
I have put Authorization on my Root Query, but now  "ui playground" cannot get the initial introspection query to work.

I can put the bearer token in UiPlayground to make actual queries, but the documentation on the right doesn't work

is there a way i can allow this to work?

[2018-11-19 20:13] chris-nissen opened #29 "Cannot use @include or @skip to strip unauthorized fields from a query"
Should `AuthorizeWith` report an error if a field the user isn't authorized for is excluded from the query via the `@include` or `@skip` directives? (It currently does.)

[2018-11-19 20:19] joemcbride commented on #29
Indeed it should. Up for doing a PR for it?

[2018-11-21 07:59] micmartin opened #31 "Authorization depending on property value of returned object"
First of all thank you so much for your great work. It's really fun using GraphQL!

Is there on option to authorize an object depending on a property value after getting the object from a databasebase?
In my special case I need to do authorization depending on a resource ownership. The user is allowed to query for objects of a specific type, but only if he is the owner of the resource.
I already p

[2018-11-21 08:08] joemcbride commented on #31
No, you’re not missing anything.  These authorization checks utilize the existing GraphQL validation, which runs before the query is executed.  If you need to access a value that is first resolved/fetched in a field, then you will have to do that manually yourself.

[2018-11-21 08:19] joemcbride commented on #27
Indeed that should have been working with that PR (though I failed to ask for tests to verify).  Can you provide a failing test to demonstrate the issue?

[2018-11-21 17:31] chris-nissen commented on #27
I'm also having this issue. I tried creating a test to prove it, without success. I can report, though, that at least in my setup, the `_.Match<ObjectField>` handler in `AuthorizationValidationRule` is never being hit, if that sheds any light.

[2018-11-27 14:11] ddecours commented on #25
Joe - kudos to you for this outstanding package!  I'm trying to develop a graphql api using ASP.NET and SQL Server, with your package as one of the primary components.    Related to my original question above, is the use of middleware (as shown above) no longer the intended approach to utilize your GraphQL-Dotnet package?    Should we instead implement the package without creating our own custom m

[2018-11-30 14:05] BalassaMarton commented on #11
Any chance of a nuget release? I'm struggling with this right now, as we have a lot of policies defined and it's a pain to recreate them.

[2018-12-01 13:02] RehanSaeed commented on #25
You need to register your graph types as scoped types if you want to make use of scoped dependencies within them. See this code in `CustomServiceCollectionExtensions`:

[code]

There is an overload where you can select a different lifetime.

[2018-12-02 14:17] ddecours commented on #25
Thank you for the input Rehan - I did adjust the service lifetime to scoped, but this then lead to another error:

I believe this is due to the fact that my root QueryObject attempts to inject one of my repositories in the constructor.  Since this repository is now scoped, the .net core throws this error since you're not supposed to inject scoped dependencies in the constructor.

So I'd assume I n

[2018-12-12 11:55] okarlsson commented on #6
@jalchr I wrote my own extension and validation rule to make this happen. Based on the documentation here https://graphql-dotnet.github.io/docs/getting-started/authorization

The usage ends up like this:

[code]

The RequireRole can be written as an extension method like this. Which adds the roles comma separated as metadata on the field.

[code]

Then we can add our own validation rule like this

[2018-12-12 12:00] okarlsson commented on #27
I tried fork this repo and replicate the issue with some unit tests, but everything seemed to work there.

Currently I'm using my own implementations of IValidationRule so I dont have this problem in my project any longer.

Have you found anything else regarding this @chris-nissen or should we close the issue for now?

[2018-12-12 17:09] chris-nissen commented on #27
No, I haven't found anything more. I worked around this by adding a custom requirement that implements IAuthorizationRequirement, so I'm OK.

But neither do I necessarily think this should be closed. There's definitely an issue here. I know that @joemcbride has been busy with his job, so maybe he'll be able to chime in when he has more time.

[2018-12-20 15:03] benmccallum commented on #11
@BalassaMarton , I've pinged the maintainer on the server project PR. The PR has been merged back in Oct but the bits haven't been released to nuget yet. In the meantime, you can just drop the project files that were added over there into your local sln, uninstall this auth pkg and swap over.

[2018-12-20 17:12] Wasseratem opened #32 "Need help with authorization in Middleware"
Hey guys,

so I have graphql as backend and React / Apollo as Frontend.
I have allready implemented my JWT Token Auth, which works fine.

Additional to that I have my Middleware, in which the HttpContext is given and the user ist correctly loaded with all Claims:

[code]

Until here it works perfectly fine.

Sadly I am strugling with any futher. I added the GraphQL.Authorization Nuget but all give

[2018-12-22 00:46] RaySheikh opened #33 "How to extract claims from a token and add to policy."
Hi, I am currently using a ClaimsTransformer class which inherits from IClaimsTransformation and injects custom claims (users/roles) from my db based on the user name i receive from the jwt token. What is the best way to use these custom claims to build a policy?

Thanks!

[2018-12-23 12:07] RehanSaeed commented on #25
My Dotnet Boxed GraphQL template uses the repository pattern, it's up to you to use whatever storage you want.

[2018-12-24 18:15] ashishkapur1 opened #34 "How to authorize request for an API-KEY ?"
Hello there

How can i authorize both my graph input types and graph object types to only proceed if the request header contains specific header key?

Could you please provide example.

Thank you

Ashish

[2019-01-04 16:50] kmanev073 opened #35 "Require Authorization Without Checking Roles"
Hello!

I see that I can define auth policies like this:
```authSettings.AddPolicy("AdministratorPolicy", _ => _.RequireClaim(ClaimTypes.Role, "Administrator"));```
Then I could use this like:
[code]

So far so good, but I have parts in my app that require the user to be authenticated but do not require a specific role. Is there anyway I could define a policy that just checks if the user is author

[2019-01-08 14:37] bogdancice commented on #27
Hi guys,

I encountered this problem also. It seems that it partially works.

1.  **It works when** you write all the input data in the query/mutation.
2. **It doesn't work when** you put the input data in Variables.

- Example:

InputObjectGraphType class:

[code]

**Works** in case 1:
- Operation:
`query {
  user{
    search(
      filtering:{
        UserRole: Admin
      }
    ){
      totalCo

[2019-01-09 07:11] Wasseratem commented on #32
20 Days no reaction... seems that this repo is gone..

[2019-01-10 15:50] hanlindev commented on #31
Hi @micmartin @joemcbride, please allow me to do a shameless plugin here. Having worked with a pretty sophisticated privacy system at work, I wanted to achieve something similar using this library. But I discovered it couldn't be done so I quickly spawned my own take on GraphQL authorization - https://github.com/hanlindev/graphql-privacy .

@micmartin what you described is one of the first use cas

[2019-01-18 18:12] aaronjedwards opened #36 "Authorization Not Respected when returning ListGraphType of Authorized Type"
For context I have written my own `IAuthorizationRequirement`. In my case, I have a type that is registered in my schema (`MyType`) protected with `this.AuthorizeWith("MyRegisteredPolicyName")` and authorization is working as expected for a query similar to below:

[code]

However, when the Query resolves to a list of the same type (`ListGraphType<MyType>`)
[code]
The authorization requirement is

[2019-01-18 19:08] joemcbride commented on #36
I would expect that to fail.  I think I know what the issue is:

https://github.com/graphql-dotnet/authorization/blob/0b598fa37a9ba31bb43af26a938cf389117b2a4f/src/GraphQL.Authorization/AuthorizationValidationRule.cs#L57

`fieldDef.ResolvedType` should be getting the "root" GraphType here instead of just passing `ResovledType`, since that `ResolvedType` could be a `NonNullGraphType<T>` or `ListGrap

[2019-01-18 19:34] aaronjedwards commented on #36
I was able to work around it for now by adding `AuthorizeWith(...)` to the field of the query directly. Would you consider this a fairly simple bug to fix? If so, I can take a crack at it.

[2019-01-18 19:41] joemcbride commented on #36
@aaronjedwards It was fairly simple - pushed up #37 to fix it.

[2019-01-18 19:46] #36 closed

[2019-01-18 19:46] aaronjedwards commented on #36
@joemcbride Awesome! Thanks for the quick turn around! I ask only because I don't have any insight into the matter, but how quickly can a simple bug fix like this get pushed through to the nuget package?

[2019-01-18 19:48] joemcbride commented on #36
Once the build completes on the master branch I can push the nuget package to nuget.org.  After I push it there it usually takes 10-15 minutes for nuget.org to index it.

[2019-01-18 19:48] joemcbride commented on #36
And ... I just remembered I didn't bump the version. So doing that and running another master build.

[2019-01-18 19:58] joemcbride commented on #36
Its published, just need to wait for indexing.

https://www.nuget.org/packages/GraphQL.Authorization/2.1.29

[2019-01-18 21:01] aaronjedwards commented on #36
@joemcbride Thanks again for the quick response. Ive got the latest package and it is working as intended!

[2019-01-21 21:38] OpenSpacesAndPlaces opened #38 "Correct way to hide schema?"
@joemcbride

I only want GraphiQL/introspection look-ups to work if the application is running from localhost - otherwise I want to be able to add an "AuthorizeWith" specifically to that operation.

Otherwise I'd still want everything below that to follow the appropriate policies.
The trouble I'm running it to is the only way I can see to-do that is to stick a policy directly on the "query" graph

[2019-01-21 21:42] OpenSpacesAndPlaces opened #39 "Feature Request: HttpContext"
I'm working in .Net Framework without Identity.

I'm calling "HttpContext.Current" from my "IAuthorizationRequirement" class, which works, but is a bad practice/pattern to follow.

The request would be to include in HttpContext "(AuthorizationContext context)" passed down through from the originally Web API context.

[2019-01-21 21:46] OpenSpacesAndPlaces opened #40 "Feature Request: Error Access"
In the current version only "ReportError" from "AuthorizationContext context" is available,

Having a pass-up for "rfc.Errors.Add(new ExecutionError" like you can from Resolvers would be helpful.
Particularly I'm looking at wanting to use the optional pass-in "new Dictionary<String, Object>()".

[2019-01-22 14:39] OpenSpacesAndPlaces commented on #39
As a follow-up - I ended up used "_.UserContext" to pass "HttpContext".

[2019-01-23 16:28] biltongza opened #41 "Is it possible to use this without graphql-server?"
I see the harness makes use of graphql-server. The project I am working on does not, it is a .net 4.6.2 app which implements a graphql controller. Graphql itself works, but I'm a little lost how to set up authorization like this.

I've registered all the services needed, but how do I tell my executor to use the AuthorizationSettings?

[code]

It seems `authSettings` is never used.

FWIW, this is w

[2019-01-23 16:55] joemcbride commented on #41
`AuthorizationSettings` is used by `AuthorizationEvaluator`.  You don't need to pass the `AuthorizationSettings` to the `DocumentExecutor`.  You DO need to pass the `AuthorizationValidationRule` to the `DocumentExecutor`.

[code]

[2019-01-24 08:34] #41 closed

[2019-01-24 10:01] furier commented on #27
@okarlsson could you provide the implementation for `IValidationRule` that works for arguments?

I am also having the issue that authorization is not being checked for `InputObjectGraphType`.

[2019-01-24 10:14] okarlsson commented on #27
@furier - I posted a comment in a different issue that gives an example for the implementation. You can find it here: https://github.com/graphql-dotnet/authorization/issues/6#issuecomment-446562072

I also recommend you to check out the Authorization chapter in the docs that my solution is heavily based on: https://graphql-dotnet.github.io/docs/getting-started/authorization.

[2019-01-24 12:53] furier commented on #27
@okarlsson thanks, but seems I have a different problem then. the `_.Match<Field>(...)` never triggers for the input types or its sub fields, so I am unable to do any authentication.

However `_.Match<Argument>(...)` hits, and I am able to do authentication for the whole argument type, but if the argument type is complex and contains different authentication rules for its sub fields they are not c

[2019-01-24 15:11] joemcbride commented on #39
That would be the suggested way to solve it. This solution is transport independent, so it won't ever have a direct reference to `HttpContext`.

[2019-01-24 15:11] #39 closed

[2019-01-27 02:17] matthewevans87 commented on #33
I believe I am experiencing a similar roadblock.

Startup.cs
[code]
setting a breakpoint on `return new GraphQLUserContext { User = httpContext.User };` reveals that my custom claim has been added (via middleware), yet GraphiQL reports the error
```"message": "GraphQL.Validation.ValidationError: You are not authorized to run this query.\nRequired claim 'http://schemas.microsoft.com/ws/2008/06/iden

[2019-01-30 16:27] tulde23 commented on #33
You could always create your own IAuthorizationEvaluator and register it with the IOC container.
[code]

[2019-02-08 10:42] bogdancice commented on #27
I've added a fix for the issue I've explained in the comments above. @joemcbride please take a look and let me know what you think. Thanks

[2019-02-08 12:39] furier commented on #27
@bogdancice seems to work for the complex type it self but not it's fields, at least for me...

![image](https://user-images.githubusercontent.com/776919/52478721-907a2400-2ba6-11e9-9d0a-7bc29f609084.png)

variableData does not contain the keys of the fields that I passed in

![image](https://user-images.githubusercontent.com/776919/52478761-adaef280-2ba6-11e9-9380-270ad2cf5001.png)

and therefore

[2019-02-09 16:54] bogdancice commented on #27
@furier good point, you are right. I fixed the issue and added unit tests

[2019-02-18 22:00] OpenSpacesAndPlaces commented on #38
For now I'm doing like:

[code]

[2019-02-19 07:26] bogdancice commented on #27
@joemcbride when you have some spare time can you check the PR and let me know what you think? We need Variables Validation in our projects

[2019-03-19 10:51] BKB503 commented on #11
Guys, I'm trying to jwt bearer authentication, when I add authorization validation rule with default "Authorized" policy but getting  Error: "You are not authorized to run this query. The current user must be authenticated."  in Start up class:
  services.AddGraphQL(options =>
            {
                options.EnableMetrics = true;
                options.ExposeExceptions = _env.IsDevelopment(

[2019-03-19 19:15] BKB503 commented on #26
@kmanev073  I'm getting same thing, I have added app.UseAuthentication(); didn't work, When I add
var result1 = await httpContext.AuthenticateAsync("Bearer"); in Validation rule then setting the prinicpal to current http context. then claims got populated

I'm not sure what is the best solution and I need it part of ValidationRule or some where global in The GraphQL middlware any help really appre

[2019-03-20 12:07] BKB503 commented on #35
@ganhammar I'm in same situation how to check user identity is authenticated ?  before adding authorization on graphtype

If I add below in valdation rule and setting back to context is working, is there any other way to check request is authenticated?
  var httpContext = _httpContextAccessor.HttpContext;
            var result1 = await httpContext.AuthenticateAsync("Bearer");
            _httpCon

[2019-03-20 15:30] BKB503 commented on #33
@tulde23 do you have any example with JWT bearer auth? for authorize and anonymous request with different graphql queries

[2019-03-20 16:45] tulde23 commented on #33
[code]

[2019-03-20 23:59] BKB503 commented on #33
@tulde23  Thank you,  I have used the JwtTokenAuthorizationEvaluator  and it is handing the authenticated and anonymous graphql queries as well

[2019-03-22 06:11] benmccallum commented on #11
Have you also added the Startup requirements for the JWT parsing, etc. Auth0 has good examples on that if you're using it.

[2019-03-22 09:31] BKB503 commented on #11
@benmccallum  with .net inbuilt authorize attribute under the hood it will cover the authenticateasync method and after adding that method to JwtTokenAuthorizationEvaluator in GraphQL and then register in startup with policy and able to use in graphql queries

https://github.com/graphql-dotnet/authorization/issues/33

[2019-04-10 13:06] andrejohansson opened #43 "Arguments Empty When Trying Authorize"
I'm trying to authorize a field by validating it´s input arguments in a custom policy. My policy gets executed correctly but the Arguments property of the AuthorizationContext variable is always empty. What do I need to do in order to get this populated?

### Field Definition
[code]

### DeviceQueryPolicy
[code]

### DeviceIdMatchOrganizationIdRequirement
[code]

### Query
[code]

[2019-04-10 17:36] joemcbride commented on #43
`AuthorizationContext.Arguments` is probably a poorly named property.  Those are actually the Input Variables and not the Arguments to the field.

[2019-04-10 21:02] andrejohansson commented on #43
I think I'm mixing things up here, which Input variables do you mean?

[2019-05-06 17:32] dnndevelopernc opened #44 "Selectively allow anonymous access"
Is it possible to white list one or more endpoints?

for example: I would like to require authentication for all mutation and queries except for Login.

Currently we authorize each mutation individually - we fear forgetting one will ship and endpoint with open access.  The query mutation we AuthorizeWith at the root level therefore it catches all endpoints.

If this is not possible with the curren

[2019-05-08 11:11] Fireblade954 commented on #44
Currently u could also just do it like .AuthorizeWith(""); or some other non existing policy name. If the policy doesnt exists the user is also authorized.

[2019-05-11 07:29] jalchr opened #48 "Release cycle"
Are there any plans for releasing on a regular basis?
When can we expect a new release ?

[2019-05-15 06:10] jonmill opened #49 "Authorizing Subscriptions With JWT"
Hi,

I have some authorizations setup to handle Queries and Mutations like so (simplified)

[code]

Now I'm attempting to add Subscriptions, but it looks like the Authorizations are not working. There didn't seem to be any built-in support for authorizing Subscriptions with JWTs, so I used [this class](https://github.com/graphql-dotnet/server/blob/develop/samples/Samples.Server/AddAuthenticator.cs

[2019-05-17 11:13] FunkMonkey33 opened #50 "Code in ReadMe Doesn't Compile"
type not found: GraphQLMiddleware.  Also not in the Harness anywhere.

GraphQLSettings defines BuildUserContext with a Task<object>, but the readme code tries to use it as a Task<GraphQLUserContext>.  I fixed by redefining BuildUserContext to use a Task<GraphQLUserContext>.

Code in Harness looks nothing like Readme code.

Great library.  Would love to know how to use it.

[2019-05-17 11:16] FunkMonkey33 commented on #50
Github took out my angle brackets.  second paragraph should read:  GraphQLSettings defines a BuildUserContext with a Task of type object, but the readme code tries to use it as a Task of type GraphQLUserContext.  I fixed by redefining BuildUserContext to use a Task of type GraphQLUserContext.

[2019-05-30 14:11] clustersnake commented on #50
Same here. I'm struggling with authorization as well. I'm a real noob and I need a very simple file structure to start

[2019-06-04 12:59] joacoleza opened #54 "Using dependency injection in AuthorizationRequirement"
Hi, as I need one registered service to evaluate the authorization, is there a way to use Dependency Injection when implementing `IAuthorizationRequirement` ?

I want to achieve something similar to [handlers](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/dependencyinjection?view=aspnetcore-2.2) in in ASP.NET Core.

Thanks!

[2019-06-04 18:58] joemcbride commented on #48
Hey, I've published `3.0.35-preview-35` to NuGet.org which updates the project to the preview of the `GraphQL` project.  There isn't a whole lot of churn in this project so there aren't a lot of releases.  What specifically are you looking for?

[2019-06-04 19:03] joemcbride commented on #43
@andrejohansson The variables that you pass in to a GraphQL Query.

https://graphql-dotnet.github.io/docs/getting-started/variables

[2019-06-04 21:29] jonmill commented on #49
@joemcbride any ideas here? :)

[2019-06-05 18:41] joacoleza commented on #54
I ended adding to my `GraphQLUserContext` which implements `IProvideClaimsPrincipal` a `HttpContext` property. This property is being set when constructing it on the `GraphQLUserContextBuilder`.

Then, when implementing my `IAuthorizationRequirement` on the `Authorize` I can access the registered serv ice from the `HttpContext` doing:

[code]

Is there a better way of doing so?

[2019-06-05 20:06] joemcbride commented on #54
Here's an alternative way to do it:

[code]

[2019-06-05 21:10] sungam3r commented on #54
Instead of
[code]
you can use special method
[code]
from **Microsoft.AspNetCore.Http** what does exacly the same thing.

[2019-06-05 21:19] joemcbride commented on #54
I updated `IAuthorizationEvaluator` in the example to be registered as Transient.  Otherwise `AuthorizationSettings` would become a singleton indirectly.

[2019-06-05 21:21] sungam3r commented on #54
Enabling scope validation on DI-container may help to find such problems.

[2019-06-06 14:39] joaquin-lezama commented on #43
Is there any way to access to the field's arguments from the AuthorizationContext in order to use it in the auth logic?

[2019-06-06 14:41] joacoleza commented on #43
Is there any way to access to the field's arguments from the `AuthorizationContext` in order to use it in the auth logic?

[2019-06-06 15:16] joemcbride commented on #43
@joacoleza only if you use variables really.  These rules run before execution so don’t have direct access to the arguments.

[2019-06-06 17:26] joaquin-lezama commented on #43
Ok. I guess that I will have to add that kind of authorization on the resolver itself, right?

[2019-06-06 17:27] joacoleza commented on #43
Ok. I guess that I will have to add that kind of authorization on the resolver itself, right?

[2019-06-06 17:28] joacoleza commented on #54
Thanks! I'll do it this way

[2019-06-13 18:44] #54 closed

[2019-06-23 11:41] elfisko commented on #50
Same issue here. Can't find that 'GraphQLMiddleware' bit anywhere, unless it is supposed to be a custom class?

[2019-06-23 16:33] joemcbride commented on #50
Yes the middleware is a custom class.  See the examples repo.

https://github.com/graphql-dotnet/examples/blob/master/src/AspNetCoreCustom/Example/GraphQLMiddleware.cs

[2019-07-08 20:09] bioharz commented on #49
same issue

[2019-07-08 20:10] jonmill commented on #49
I ended up switching away from the built in provider and rolled my own in order to work with Subscriptions and Queries / Mutations

[2019-07-12 01:33] Vouzamo opened #56 "AuthorizationEvaluator should check authentication state"
The first thing in the default AuthorizationEvaluator .Evaluate method should be a check of principal.Identity.IsAuthenticated to conditionally return an AuthenticationResult.Fail() if false since claims are only valid for an authenticated user.

[2019-07-12 01:47] Vouzamo commented on #56
Also seems odd that AuthorizeWith() and RequireAuthorization() extensions methods don't do any authorization checks by calling the internal Authorization evaluator and only check for claim matches.

[2019-07-12 02:27] joemcbride commented on #56
The “next” branch adds an Authorization requirement that you can use to check for an authenticated user.  You can add that requirement today in your own codebase if you wish.

https://github.com/graphql-dotnet/authorization/commit/5795fb5acd8bf9c7537dc1b6eb85718dddffe789

[2019-07-12 02:30] Vouzamo commented on #56
Ahhhh...

.RequireAuthorization() is not to mark a type as requiring authorization. It is a convenience method for checking if any policies have been defined against the type using the .RequireWith() method.

As such there is no method currently for flagging a type needs to be authorized but not against specific policies, correct?

I guess the requirement you suggest would still need to be registe

[2019-07-12 02:47] joemcbride commented on #56
Yes.  A policy could be anything, not only related to the authenticated user.  Such as, maybe your policy checks a configuration value or something like that.

[2019-07-14 11:34] bioharz commented on #38
Hi. Thank you for your contribution. May I ask you to provide us with example code. Thanks! PS: I'm stuck on the same issue.

[2019-07-16 21:58] OpenSpacesAndPlaces commented on #38
@bioharz

Wherever you are running:
`ExecutionResult result = await _executer.ExecuteAsync`

Just add an condition afterwards like:
[code]

[2019-07-16 22:10] OpenSpacesAndPlaces commented on #49
It's not directly supported from what I've seen - from previous dicussions on the topic, auth is expected to more/less be your own custom coding.

Ideally you're running this under a WebAPI controller - so JWT should already be negotiated to the context.

For usage you'd do like:
[code]

[2019-07-16 22:11] joemcbride commented on #38
The client application calling the api controls the OperationName, so someone could easily bypass that check by giving their query a different name.  The only way to truly disable being able to query introspection types would be to check for the `__schema` field.  You could write a validation rule to do that.

[2019-07-16 22:13] joemcbride commented on #38
Also, you would want to do this check _before_ the query is executed vs. after.  Validation rules run before the query is executed.

[2019-07-16 22:14] OpenSpacesAndPlaces commented on #56
See https://github.com/graphql-dotnet/authorization/issues/49#issuecomment-512007347
for an example flow.

Once you get used to the setup, it's actually pretty straight forward.

[2019-07-16 22:14] OpenSpacesAndPlaces commented on #49
Also keep in mind, "UserContext" can be anything you want.

[2019-07-16 22:36] OpenSpacesAndPlaces commented on #44
Easiest way I found to-do with was:

(at whatever levels you need)
[code]
Usage sample here:
https://github.com/graphql-dotnet/authorization/issues/6

But this one of those - roll it like you need it cases.

[2019-07-16 22:38] OpenSpacesAndPlaces commented on #35
See https://github.com/graphql-dotnet/authorization/issues/49#issuecomment-512007347 for a slightly longer example, but as @ganhammar showed, IAuthorizationRequirement is likely what you'd be looking for.

[2019-07-16 22:43] OpenSpacesAndPlaces commented on #38
I'm a little confused by that - if his goal was the same mine, then the intention wasn't to block any other request type that isn't public, just the documentation look-ups. Otherwise in my model everything else is handled with MetaData and/or AuthorizationSettings.

To be clear with my question - what else could somebody send to the server to to-do an "IntrospectionQuery" besides "IntrospectionQue

[2019-07-16 22:45] OpenSpacesAndPlaces commented on #33
Very similarly to the above approach, you can also use:
IAuthorizationRequirement

https://github.com/graphql-dotnet/authorization/issues/49#issuecomment-512007347

[2019-07-16 22:48] joemcbride commented on #38
This is an introspection query with a different name.

[code]

[2019-07-16 22:49] OpenSpacesAndPlaces commented on #6
If you need differing policies based on role - then MetaData as above is the way to go.

If you just need to give multiple users with different roles access to the same stuff, then
IAuthorizationRequirement or Evaluator works.

https://github.com/graphql-dotnet/authorization/issues/49#issuecomment-512007347

[2019-07-17 22:36] OpenSpacesAndPlaces commented on #38
@joemcbride

[code]

From your suggestion I added the above - but it seems a little heavy handed since it's going to run over everything in the case it's not there.

Is there a more efficient approach?

Is this better than or is there a downside to a string check on:
[code]

[2019-07-17 23:14] sungam3r commented on #38
Yes, there is a downside
query oops_not_a__schema { client { permissions__schema name } }

[2019-07-18 12:58] OpenSpacesAndPlaces commented on #38
Fair enough, but is that a real would false positive someone would run into?
I can't recall any instance I've ever include double underscore in a property.

Or really my question, is doing a string check somehow less secure in this instance?
Is there someway it could be skirted?

[2019-07-18 14:52] joemcbride commented on #38
Probably not.  Doing the check as a validation rule though you get the error in the GraphQL format and mitigate any potential bugs.  All of the fields in the request are _already_ being iterated over with other validation rules.  Adding one more rule should not be a huge overhead and does not iterate over the whole query again, it just calls your validation rule while it iterates over them.

[2019-07-18 17:47] OpenSpacesAndPlaces commented on #38
Thanks for clarifying!!

[2019-07-23 12:58] StefanSchoof opened #58 "Restrict amout of Data"
I have the situation, that I have Users that should get a smaller Number of items and others should get the full List. Currently I added two Fields and protect one with a `.AuthorizeWith`

[code]

Is there an way to do it better in grapql-dotnet?

[2019-07-26 08:40] AndyEdmonds commented on #38
What if I just want to leave out bits of schema that a particular user shouldn't see given their authorization status? Does returning forbidden play well with playground, voyager etc?

[2019-07-29 13:28] OpenSpacesAndPlaces commented on #38
@AndyEdmonds

I don't know the right way to handle what you're saying, but the worst case would always be to pre-generate the schema - and create a separate controller for auth/loading separate copies.

Another possibility might be to modify something from "SchemaValidationRule : IValidationRule"  above. Schema is one of the first matches you'd hit - so in-theory you could save that meta informati

[2019-07-29 13:44] AndyEdmonds commented on #38
Thanks @OpenSpacesAndPlaces,
In my case I've, perhaps foolishly, mixed functionality that is to do with maintenance of the site with functionality open to all and signed in users.  I can happily stop users without the right authority from accessing things they shouldn't using .AuthorizeWith("UserPolicy"); but it can still be seen using schema discovery.
Perhaps I should move this functionality to

[2019-07-29 15:14] joemcbride commented on #38
Schema Introspection Filtering is in the works:  https://github.com/graphql-dotnet/graphql-dotnet/pull/1179

[2019-07-29 15:26] OpenSpacesAndPlaces commented on #58
At least two ways I know of off the bat. (I'm sure there are more approaches)

You could do a soft filter with arguments:
https://graphql-dotnet.github.io/docs/getting-started/arguments

Or a hard filter by accessing meta-data from

[code]

[code]

[2019-08-05 13:54] StefanSchoof commented on #58
Thanks @OpenSpacesAndPlaces  for your reply.
I was not able to figure out what do you mean by "soft filter". I am now going with the "hard filter".

[2019-08-05 13:54] #58 closed

[2019-08-05 19:00] OpenSpacesAndPlaces commented on #58
By "soft filter" I meant something like your UI code sending " Top: 5 " as an argument.
I phrased this as "soft" because someone could just change the request to be "Top: 10".

The hard filter is running off information that's only server accessible.

[2019-08-06 07:00] StefanSchoof commented on #58
Thank, I need a server enforced.

This is the code is use:

[code]

[2019-09-20 14:41] dc-re opened #61 "NullReferenceException in AuthorizationValidationRule when query/mutation/parameter name is invalid"
After registering the authorization classes as follows:

[code]

When a consumer tries to execute a query or a mutation that doesn't exist or to pass a parameter that doesn't exist:
[code]

The endpoint returns:
[code]
This only happens if at least one parameter is an object (as the elements of the `skills` array).

The expected behaviour is that the endpoint returns the same error message it woul

[2019-09-21 22:10] sungam3r commented on #56
@Vouzamo Is this issue still actual?

[2019-09-21 22:20] sungam3r commented on #31
@micmartin Is this issue still actual?

[2019-09-21 22:45] sungam3r commented on #15
@bhushansahni @joemcbride I think this issue has been resolved.

[2019-09-21 22:54] sungam3r commented on #34
Authorization requirement works with `AuthorizationContext`. I think the main focus was on `AuthorizationContext.User` and not on custom headers. But you can use `AuthorizationContext.UserContext` for this - first store api key in it and then check it in your custom authorization requirement.

[2019-09-21 22:58] sungam3r commented on #40
Sorry, I do not understand what you want. Сan you please explain in more detail?

[2019-09-21 23:00] sungam3r commented on #48
@jalchr https://www.nuget.org/packages/GraphQL.Authorization/3.0.38-preview-38

[2019-09-21 23:05] sungam3r commented on #35
@kmanev073 This issue has already been resolved. Now you can use [this requirement](https://github.com/graphql-dotnet/authorization/blob/master/src/GraphQL.Authorization/AuthenticatedUserRequirement.cs) and [that builder method](https://github.com/graphql-dotnet/authorization/blob/master/src/GraphQL.Authorization/AuthorizationPolicyBuilder.cs#L42).

[2019-09-22 11:08] micmartin commented on #31
I soved that problem by doing an authorization check on the "main" entites while retrieving them. No a nice and general solution but it works for my needs.
@hanlindev sorry for not responding to your comment, must have missed the notification

[2019-10-01 16:16] GQAdonis opened #63 "Unable to actually get "Admin" authorization to work using JWT"
I have been at it for almost 2 days trying to finalize my use of `GraphQL.Authorization` to restrict access to queries and mutations intended for "Admin" users.  I am using JWT for authentication, and that seems to work.  I created a `logonUser` mutation that returns a token that I subsequently provide in the headers section of the playground like so:

[code]

This is where things fall apart.  I h

[2019-10-01 22:59] GQAdonis commented on #63
So I solved the issue with a custom refactored `GraphQLMiddleware.cs`:

[code]
This allowed me to add the proper claims to the principal, so they are picked up by GraphQL.Authorization.  The key is to add the middleware before adding the GraphQL middleware.

[2019-10-01 22:59] #63 closed

[2019-10-01 23:04] joemcbride commented on #63
Instead of that code you can also just issue a `Challenge`, so it would kick it back to ASP.NET to run their own authentication middleware.

[2019-10-20 15:08] mehtanilay10 opened #64 "Unable to access Principle using GraphQL.Server 3.5"
I have used GraphQL.Server.Transports.AspNetCore **v3.5**.
In which there is change in `AddUserContextBuilder()`.
Now TUserContext will be `IDictionary<string, object>` instead of IProvideClaimsPrincipal.
So here need to update AuthorizationValidationRule for aligning it with the Server package.

Here is its Ref: https://github.com/graphql-dotnet/server/pull/218

[2019-10-20 15:34] sungam3r commented on #64
@mehtanilay10 In fact, everything is not so bad. `IProvideClaimsPrincipal` must stay. Just use this approach:

[code]
A user context can easily combine implementations of both interfaces.

[2019-10-20 15:49] mehtanilay10 commented on #64
Okay, It works prety good. Thanks @sungam3r

[2019-10-20 15:49] #64 closed

[2019-11-14 13:01] PapaMufflon commented on #63
I had the same problem and I think I solved it a bit better.

I map my custom roles to a "Role" claim per Middleware (this step is optional when you already have a "Role" claim in your token - I had not).

And I provide a custom `IUserContextBuilder` which sets my `GraphQLUserContext` so that `AuthorizationValidationRule` has something to get the "Role" claim from.

[code]

[2019-11-14 22:02] BillBaird opened #66 "FieldBuilder AuthorizeWith not consistent with IProvideMetadata AuthorizeWith"
In the AuthorizationMetadataExtensions class, the IProvideMetadata AuthorizeWith extension allows a list of policies; however, the corresponding FieldBuilder AuthorizeWith extension method only allows for a single policy.  I believe these should behave identically, each allowing for multiple policies (which all must be true).

I suggest changing:

[code]
to

[code]

[2019-11-14 22:04] sungam3r commented on #66
Or allow to **append** policy inside `AuthorizeWith`.

[2019-11-14 22:10] BillBaird commented on #66
Either way (multiple policies, or append), they should be consistent.  I can create a PR for this and the corresponding tests if desired.

[2019-11-25 10:53] alonstar opened #67 "How do I use Authorization with ConnectionBuilder ?"
I need pagination, so I used [Relay](https://github.com/graphql-dotnet/relay) to implement. But how do I use AuthorizeWith on Connection Field ?

[2019-12-23 18:00] swassouf opened #68 "GraphQLAuthorize attribute not firing using schema first approach"
I am working on the qraphQL api and I am trying to use authorization attribute GraphQLAuthorize in GraphQL.Server.Authorization.AspNetCore; I have created policy in startup.cd configureService but not recognized by GraphQLAuthorize attribute.

The [GraphQLAuthorize(Policy = "AUTHORIZED")] is not working. while the AuthorizeWith("AUTHORIZED") is working

[code]

//startup.cs

[code]

Any help would

[2019-12-23 18:03] joemcbride commented on #68
This is expected.  The `GraphQLAuthorize` attribute only works with Schema First syntax.

[2019-12-23 18:05] joemcbride commented on #68
Also note that the Authorization provided by the GraphQL.Server project is NOT the same authorization provided by this project. They are two separate things.  The Policies you create through the GraphQL.Server project are specific to ASP.NET Core.  This project is a generic Authorization which can be used outside ASP.NET Core.

[2019-12-29 08:15] Mousavi310 commented on #6
Another workaround is to implement custom `IAuthorizationEvaluator`:

    public class MyAuthorizationEvaluator : IAuthorizationEvaluator
    {
        private readonly AuthorizationSettings _settings;

        public MyAuthorizationEvaluator(AuthorizationSettings settings)
        {
            _settings = settings;
        }

        public async Task<AuthorizationResult> Evaluate(
            C

[2020-01-08 22:32] RyanGhd opened #69 "'ValidateAsync' in type 'AuthorizationValidationRule' does not have an implementation"
`GraphQL.Authorization.AuthorizationValidationRule` throws the following exception:

[code]

Libs:
GraphQL 3.0.0-preview-1352
GraphQL.Authorization 3.0.38-preview-38

I think the reason is that it tries to implement IValidationRule which comes as follows:

[code]

[2020-01-08 22:58] sungam3r commented on #69
You are using a newer version of the graphql-dotnet package. Now you can roll back the version to that state of the code when method was still synchronous or wait for the new version of this package

[2020-01-09 22:45] RyanGhd commented on #69
@sungam3r,
grapql-dotnet repo recommends that: "The latest stable version 2.4.0 has many known issues that have been fixed in 3.0.0-preview-XXXX versions."
So I prefer to keep the new version.

what is the ETA for the new version that addresses this issue?

[2020-01-09 22:52] sungam3r commented on #69
You **may** keep preview version. I am just talking about not the latest preview since it has conflict with authorization project.

Although I am a member of `graphql-dotnet` org, I don’t have write permission in this repository. So now we are waiting for @joemcbride to merge #70.

[2020-01-27 21:03] #69 closed

[2020-01-28 22:45] withinboredom opened #71 "Not compatible with graphql-dotnet 3.0"
In the latest of [graphql-dotnet](https://github.com/graphql-dotnet/graphql-dotnet/blob/43a80a883997a88f9dd9e22d3ca2f80b6183825f/src/GraphQL.Harness/GraphQLSettings.cs) `UserContext` is expected to be a `Dictionary<string, object>` and not an `object`.

This could probably be handled by adding [a simple bit](https://github.com/graphql-dotnet/authorization/blob/master/src/GraphQL.Authorization/Auth

[2020-01-29 05:34] sungam3r commented on #71
Can you explain the problem in more detail?

[2020-01-29 10:33] withinboredom commented on #71
Sure, the `ValidationContext` implements (`IProvideUserContext`)[https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/Execution/IProvideUserContext.cs] which an `IDictionary` and not an Object (like it was in earlier versions). This means, in the very least, that either:

1. `GraphQLUserContext` needs to also implement `IDictionary<string, object>`
1. or, `GraphQLUserContext` n

[2020-01-29 17:33] sungam3r commented on #71
This is the expected behavior. https://github.com/graphql-dotnet/authorization/blob/master/src/Harness/GraphQL.cs#L8 , examples have been modified accordingly.

Do you have a runtime errors?

[2020-01-29 18:27] withinboredom commented on #71
Oh, nice I missed that! Closing this :)

[2020-01-29 18:27] #71 closed

[2020-02-07 13:47] noufionline opened #72 "How To apply authorization on mutation"
How to secure add, update and delete operations ?

[2020-02-07 18:25] sungam3r commented on #72
You can do this the same way as for queries, same api.

[2020-02-24 13:55] Brandon2255p opened #73 "DI in AuthorizationRequirement"
I am struggling to figure out how to inject into an AuthorizationRequirement
I am trying to inject IClient in the following code example.

When setting up the policy, I have to use a constructor which means I am not using DI
[code]

[code]

How can I achieve DI to inject the IClient which is needed for authorization

[2020-02-24 15:14] sungam3r commented on #73
Unfortunately there is no such possibility.

[2020-02-24 17:43] Ekkeir commented on #73
Instead of making `IAuthorizationRequirement` DI-dependent, use in as simple class to hold requirement-related information.
And then create a DI-dependent handler (`HomeAccessHandler : AuthorizationHandler<HomeAccessRequirement>`) to process the requirement.
This should [help you](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-3.1#requirements)

[2020-02-24 18:03] sungam3r commented on #73
This is core auth package, for ASP.NET Core [other one](https://github.com/graphql-dotnet/server/tree/develop/src/Authorization.AspNetCore) exists.

[2020-03-01 10:05] sungam3r commented on #68
@swassouf Is this issue still actual for you?

[2020-03-03 13:06] Ekkeir commented on #73
@sungam3r  my bad, missed repo name.

[2020-04-03 08:31] jmsunseri opened #74 "Authorization ignores claims"
using version 3.0.39-preview-39

Startup.cs
[code]

GraphQLAutofacModule.cs
[code]

QueryType.cs
[code]

If I remove the AuthroizeWith call at the end of this field and create a breakpoint on the return line the UserContext looks like

![image](https://user-images.githubusercontent.com/804759/78340152-2a313b80-75c8-11ea-96d6-49ff8d8838e0.png)

If I have the AuthroizeWith() call the following error

[2020-04-03 13:11] jmsunseri commented on #74
think i got it figured out needed all this
[code]

and install this GraphQL.Server.Authorization.AspNetCore.  GraphQL.Authorization didn't provide what I was looking for.

[2020-04-03 13:11] #74 closed

[2020-04-03 13:14] sungam3r commented on #74
@jmsunseri Point 7 in linked issue

[2020-04-03 13:18] jmsunseri commented on #74
How far are you guys from a stable release?

[2020-04-03 14:01] sungam3r commented on #74
far enough

[2020-04-27 09:40] photomoose commented on #67
There's an extension method in the latest GraphQL.Server.Authorization.AspNetCore package from the MyGet feed (3.5.0-alpha0069):

[code]

[2020-05-13 00:57] OpenSpacesAndPlaces opened #75 "Preview Targeting"
3.0.39-preview-39 is targeting 3.0.0-preview-1352 instead of 3.0.0-preview-1648.

I'm not able to binding redirect without a public token - is there another work around?

[2020-05-14 00:35] joemcbride commented on #75
@OpenSpacesAndPlaces I pushed `GraphQL.Authorization - 3.0.40-preview-40` to Nuget, targeting `3.0.0-preview-1648.`.  Let me know if you run into any issues.  I still have work to do to upgrade our manual test harness, but all of the existing tests are passing.

[2020-05-14 00:37] #75 closed

[2020-05-14 01:28] OpenSpacesAndPlaces opened #77 "Tag 2.1.29 Release?"
Can you tag the 2.1.29 Release like you did here:
https://github.com/graphql-dotnet/graphql-dotnet/issues/1677

I checked here, but did not see it:
https://github.com/graphql-dotnet/authorization/tags

Thanks!!!

[2020-05-19 13:17] OpenSpacesAndPlaces commented on #77
@joemcbride

[2020-05-19 17:04] sungam3r commented on #77
https://github.com/graphql-dotnet/authorization/releases/tag/v2.1.29

[2020-05-19 18:17] joemcbride commented on #77
I bumped the `v2.1.29` tag to https://github.com/graphql-dotnet/authorization/commit/bc3b36ed1885236f36bc8db4dded8fd032d2ce58, confirmed from this build: https://ci.appveyor.com/project/graphql-dotnet-ci/authorization/builds/21728911

[2020-05-19 18:17] #77 closed

[2020-05-19 19:05] sungam3r commented on #77
That is, I set it to the correct commit?

[2020-05-19 19:27] joemcbride commented on #77
@sungam3r It looked like you set it to `2.1.31` build vs. `2.1.29`.

https://github.com/graphql-dotnet/authorization/commit/48ee6f623a08ecc5c02c80a7ca8aeaf1e18046c7

Would be nice to get this automated in Github Actions (something I need to look at closer).
https://ci.appveyor.com/project/graphql-dotnet-ci/authorization/builds/24380676

[2020-05-19 20:53] sungam3r commented on #77
I set this one
![изображение](https://user-images.githubusercontent.com/21261007/82377152-f00ee280-9a2b-11ea-8c2b-c5da9154ce20.png)

[2020-05-19 21:07] sungam3r commented on #73
@Brandon2255p how about that?
[code]

You should of cource configure your requirements in DI-container.

[2020-05-19 21:08] sungam3r commented on #72
Closed de to inactivity.

[2020-05-19 21:08] #72 closed

[2020-05-19 21:12] sungam3r commented on #68
Closed due to inactivity.

[2020-05-19 21:12] #68 closed

[2020-05-19 21:13] sungam3r commented on #67
Closed as resolved.

[2020-05-19 21:13] #67 closed

[2020-05-19 21:19] sungam3r commented on #56
Closed due to inactivity.

[2020-05-19 21:19] #56 closed

[2020-05-19 21:23] sungam3r commented on #49
@jonmill Is this issue still actual for you?

[2020-05-19 21:24] sungam3r commented on #48
Closed due to inactivity.

[2020-05-19 21:24] #48 closed

[2020-05-19 21:27] sungam3r commented on #40
Closed due to inactivity.

[2020-05-19 21:27] #40 closed

[2020-05-19 21:31] sungam3r commented on #35
Closed as resolved.

[2020-05-19 21:31] #35 closed

[2020-05-19 22:32] jonmill commented on #49
@sungam3r it would be nice if there was a way that this was built-in, instead of having to roll-your-own auth...but no, I have moved on from this issue and done auth myself

[2020-05-20 00:30] OpenSpacesAndPlaces commented on #77
Thanks!

[2020-05-21 21:38] sungam3r commented on #31
As @joemcbride said

Closing this issue as `wontfix`.

[2020-05-21 21:38] #31 closed

[2020-06-11 14:39] Justina2711 opened #78 "Graphql Authorization not working"
I have created the API solution on .Net Core 3.1 with graphql, I am trying to authenticate the graphql endpoint, kindly help me to figure out where I am doing wrong..

**Startup.cs code**
[code]
**Getting the following error**

![image](https://user-images.githubusercontent.com/48353468/84400006-2270c180-ac1f-11ea-8ae3-6b7642c6e257.png)

[2020-09-15 11:52] Blanen opened #81 "Faulty reference"
![image](https://user-images.githubusercontent.com/7236824/93207009-9492fe00-f75a-11ea-9138-86ff84f0cac0.png)

This isn't a published version on nuget as far as I know.

This happens after installing GraphQL.Authorization 3.0.43 (there is no 3.0.0) . Only 3.0.0 is available of the GraphQL package.

[2020-09-15 12:09] Blanen commented on #81
https://github.com/graphql-dotnet/authorization/pull/80 similar.

But even trying to get it via myget

![image](https://user-images.githubusercontent.com/7236824/93208559-0cfabe80-f75d-11ea-9ea7-918d6528d818.png)

[2020-09-15 12:11] Blanen commented on #81
@joemcbride Since you seem to have committed 3.0.0

[2020-09-15 13:02] Blanen commented on #81
I got it working via an assembly ref but that's obviously not desired.

[2020-09-16 13:54] Blanen commented on #81
Probably PEBCAK

[2020-09-17 09:48] sungam3r commented on #81
https://www.nuget.org/packages/GraphQL.Authorization/3.0.43

 Dependencies

    .NETStandard 2.0
        GraphQL (>= 3.0.0)

[2020-09-17 09:49] sungam3r commented on #81
Closing this issue. Feel free to ask further questions if any.

[2020-09-17 09:49] #81 closed

[2020-10-03 05:36] mlynam commented on #49
I was able to setup Subscription auth using built in elements alone.  If you are interested @jonmill I can give you my method.

[2020-10-03 13:37] bioharz commented on #49
@mlynam May I ask if you would share the snipped to anyone? Thank you very much @mlynam

[2020-10-03 15:59] mlynam commented on #49
Sure.

The main issue I ran into with authorization and graphql-dotnet is the inconsistent handling of the user context. In graphql-dotnet proper, we are told to implement a `Dictionary<string,object>` and here in authorization we are told to implement an `IProvideClaimsPrincipal`.  After digging through the source I discovered that really it should be the same implementation for both types as the

[2020-10-17 13:34] zaneclaes commented on #50
Over a year later... docs still aren't fixed, and code seems to have drifted even further from the example. It's hard to tell if this library is even supported, or if I'm wasting my time trying to implement it.

[2020-10-18 21:24] sungam3r commented on #50
I also worry that I do not have the time (and sometimes the energy) to support the project as I would like it to.

[2020-10-19 02:01] joemcbride commented on #50
@zaneclaes The readme will never contain all of the code necessary for a fully working server, there are too many moving pieces with a GraphQL server.  The code in the readme is to get the basic concepts across.

Can you point out what you feel is a problem with the readme?  What do you feel like should be "fixed"?  I have reviewed it and there is only a single item that is missing from the 3.0 re

[2020-10-19 02:12] joemcbride commented on #50
Perhaps one option is to not have ASP.NET Core specifics in the readme, just make it a console app.  That would shorten the example and perhaps remove the confusion around actually wiring things up to a server.

[2020-10-22 14:39] OpenSpacesAndPlaces commented on #78
I could be wrong, but it sounds like you need to check your validation code for "Policies.User" (I'm assuming this is a custom  IAuthorizationRequirement).

It's kind of looking like that's just the result from:
[code]

[2020-10-24 00:09] joemcbride commented on #50
Added a "basic sample" project, and updated the readme with a Console app which you can just copy/paste to see it work.

`Sample.csproj`:

[code]

`Program.cs`:
[code]

[2020-10-24 00:49] #50 closed

[2020-10-27 14:45] AAIING opened #83 "How to login user and return token and id ?"
i dont know apply return id and token to try login user

Login resolver

[code]

[2020-10-27 20:19] sungam3r commented on #83
Please specify what question you have.

[2020-10-27 20:30] AAIING commented on #83
Hi Ivan, my question is how to trying a mutation login (username and password) and in the response query only show the token and  id_user. you understand?

error:
![image](https://user-images.githubusercontent.com/46494254/97358330-e2cb0f00-1879-11eb-91db-9a36a0df39be.png)

Error: "(eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJwZXBpdG9AcGVyZXouY2wiLCJuYmYiOjE2MDM4MzA

[2020-10-27 21:56] sungam3r commented on #83
You return object of type `System.ValueTuple2[System.String,WebAppEF1.Models.Usuario]` from resolver for field "login" but that field has type `LoginType` which is not compatible with returned object. The error message is quite verbose. This check happend inside `protected virtual void ValidateNodeResult(ExecutionContext context, ExecutionNode node)`:
[code]

Please provide definition of `LoginTyp

[2020-10-27 21:59] Ekkeir commented on #83
I'm not nearly @sungam3r, but as of now you're returning usuariodb value, which seems to be an instance of `System.String,WebAppEF1.Models.Usuario` while your intention is seemingly to return the token and IdUser

Assuming that `LoginType` is defined something like the following
[code]

and `Login` is defined something like this
[code]

then you'd have to combine it all in your resolver like this

[2020-10-28 20:14] #83 closed

[2020-10-29 22:58] sungam3r commented on #73
Closed due to lack of feedback.

[2020-10-29 22:58] #73 closed

[2020-11-01 23:04] sungam3r commented on #6
@Mousavi310 Why do you use `break` in your example?

[2020-11-02 13:31] OpenSpacesAndPlaces commented on #6
`Why do you use break in your example?`

Just looks like a stylistic choice - break is going to end the loop and return the initialized value of `isValid = false;`.

[2020-11-02 13:35] OpenSpacesAndPlaces commented on #6
Taking a second look - in that sample it should really be:
[code]

The way that's written a case like this would not be correct:
1. Policy Passes (isValid = true)
2. Policy Fails (returns isValid set to true)

@Mousavi310

[2020-11-02 15:53] sungam3r commented on #6
Then I don't understand the meaning of the method at all - Satisfies**AtLeastOne**PolicyAsync. Why does it break on first false result?

[2020-11-02 17:25] OpenSpacesAndPlaces commented on #6
You read more closely than I did :) - I failed to read the method name "SatisfiesAtLeastOnePolicyAsync".

[2020-11-02 19:31] sungam3r commented on #6
Exactly. This example is misleading.

[2020-11-03 22:09] #61 closed

[2020-11-13 18:59] AAIING commented on #78
im have a same problem!!  marked with a comment, i found solution before apply publish

[2021-01-04 11:41] tobias-tengler opened #117 "Checking for a valid JWT and integrating with a Refresh-Token-Workflow"
option to use I want to check if a user is authenticated (**NOT** authorized) for a specific query, resolver, etc. via a JWT Token in the `Authorization` Header. I also need to integrate this with a Refresh-Token-Workflow on the client.

This is the code I'm using at the moment:
[code]

I have a few questions regarding this:
1. Is this the correct way to check if a user has a valid JWT? It seems b

[2021-01-04 11:51] sungam3r commented on #117
Relates to https://github.com/graphql-dotnet/server/pull/480

[2021-01-04 12:34] tobias-tengler commented on #117
So if I got this right, once this is merged and released I would create a custom `ErrorInfoProvider`, which would have a definitive status code or something similar with which the client could tell whether, if it was an authentication issue or something else?

I would have two questions relating to this:
1. How would I register a custom ErrorInfoProvider? I looked around a bit and found that I can

[2021-01-04 12:44] sungam3r commented on #117
Not **http** status code, just error code.

[2021-01-04 12:47] sungam3r commented on #117
`services.AddErrorInfoProvider`

Look into `AuthorizationError.AuthorizationResult`

Code is stored into `Extensions` property.

[2021-01-04 12:48] sungam3r commented on #117
Note that PR is targeter agains other project - server, not this repo.

[2021-01-04 12:56] tobias-tengler commented on #117
Yeah I meant the error code inside the JSON - I updated my reply!

I'm on the latest version and I don't have an `AddErrorInfoProvider` extension for `IServiceColletion` yet. Is this unreleased?

I only have an extension method for the `IGraphQLBuilder` with the following signature:
[code]
This is only used to configure an ErrorInfoProvider, not inject one yourself.

[2021-01-04 13:20] sungam3r commented on #117
https://github.com/graphql-dotnet/server/blob/master/src/Core/GraphQLBuilderExtensions.cs#L33

[2021-01-04 13:21] rose-a commented on #117
I think graphql-dotnet/server#480 is not enough to solve this one... [GraphQLHttpMiddleware](https://github.com/graphql-dotnet/server/blob/master/src/Transports.AspNetCore/GraphQLHttpMiddleware.cs) will still respond with a 200 status code...

You can only change the message text which is reported inside the GraphQL error this way...

@sungam3r  Maybe [this method](https://github.com/graphql-dotne

[2021-01-04 13:46] tobias-tengler commented on #117
Still this only lets me configure options, not add an own ErrorInfoProvider.

Being able to change the HTTP Status code would probably be the easiest option for my case, since it's the easiest for clients to implement. But it's also something clients of an open API might not expect, so being able to communicate an Authentication error clearly in a regular GraphQL response (i.e. HTTP 200) does have

[2021-01-04 14:25] sungam3r commented on #117
It is not supported now. PRs are welcome.

[2021-03-03 02:14] EbrahimMajdey opened #121 "UNAUTHENTICATED error code"
I just need to know how to get the error code UNAUTHENTICATED because when I use .AuthorizeWith I am getting a VALIDATION_ERROR.

here is a bit of startup.cs

[code]

[code]

[code]

[2021-03-21 23:39] sungam3r commented on #25
Closed as outdated.

[2021-03-21 23:39] #25 closed

[2021-03-21 23:45] sungam3r commented on #33
Closed as outdated.

[2021-03-21 23:45] #33 closed

[2021-03-21 23:49] sungam3r commented on #78
@Justina2711 Did you manage to solve this problem?

[2021-03-21 23:52] sungam3r commented on #66
@BillBaird Code with extension methods was [moved](https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL/AuthorizationExtensions.cs) into main GraphQL.NET repo.

Append approach won.

[2021-03-21 23:52] #66 closed

[2021-03-22 13:07] ninomllr opened #127 "In AuthorizationValidationRule.cs the method CheckAuth is called multiple times. Why?"
In one of our projects we need to expand the CheckAuth functionality to check on the database if the user still exists when we send the JWT token. For that purpose we copied the AuthorizationValidationRule.cs and created our own implementation of it and load it in our Startup.cs file.

Now when we add a Console.WriteLine to the CheckAuth method we see that it's called a couple of dozen times. Is t

[2021-03-22 16:53] joemcbride commented on #127
`AuthorizationValidationRule` is the "framework" code and does not need to be modified.  That rule checks all of the Graph Types in the query to see if they have authorization policies applied to them, which is why `CheckAuth` is called so many times.

You can instead add your own authorization requirements to the framework to extend it.  Create your own `IAuthorizationRequirement` class and add t

[2021-03-22 16:58] joemcbride commented on #121
These authorization rules for the GraphQL Schema are done through a GraphQL Validation rule, so you will only get validation errors.  You will not get unauthenticated error codes as this framework is designed to work within the GraphQL context.

[2021-03-22 17:17] sungam3r commented on #127
I'll send PR to add this into readme.

[2021-03-22 17:25] sungam3r commented on #121
Relates to https://github.com/graphql-dotnet/server/pull/480 and may be fixed in v4.

[2021-03-23 07:17] ninomllr commented on #127
Ok thanks for adding this to the readme!

Reason why we copied AuthorizationValidationRule intially was because we needed to change the error message. We thought it could be a good place to change some things about validation as well. Thanks for clearing this up.

[2021-03-23 07:17] #127 closed

[2021-03-23 08:31] sungam3r commented on #127
I already do this, will be in v4.

[2021-03-23 15:01] sungam3r commented on #121
@EbrahimMajdey see readme.md from #128. I expect to publish v4 soon.

[2021-03-24 14:30] julienFlexsoft opened #129 "ETA for v4?"
Hi, I wanted to update GraphQL to v4 but I encountered some issues that might be related to GraphQL.Authorization.
Here is the [link to the issue](https://github.com/graphql-dotnet/graphql-dotnet/issues/2445).

What would the ETA be for GraphQL.Authorization v4?
Just to know when I can plan to finalize my updates. Are we talking days or weeks?

Thank you!

[2021-03-24 16:49] sungam3r commented on #129
Days or weeks: ) One-two weeks. There were many issues in this repository, which would be good to solve in v4. Otherwise, I will have to do the v5 right after the v4 release. I want to include in v4 as more pending features as I can.

[2021-03-24 16:50] sungam3r commented on #129
By the way you can use auth package (ASP.NET Core related things) from the server project.

[2021-04-12 14:53] JRDrummond opened #139 "IAuthorizationRequirement is not sent the same variable names as those in IResolveField context"
Take the following AuthorizationRequirement:

`using GraphQL.Authorization;
using System.Threading.Tasks;

namespace GraphQLNet.AuthRequirements
{
    public class IsSelf : IAuthorizationRequirement
    {
        public Task Authorize(AuthorizationContext context)
        {
            var user = context.User;
            object idArg;
            if (context.InputVariables.TryGetValue("userID", o

[2021-04-14 08:46] cdtlaurence commented on #129
Hey! Is there any update on when v4 will be released? :)

[2021-04-15 21:21] sungam3r commented on #129
There is no ETA yet. Too much daily work.

[2021-04-22 16:05] Xeviva commented on #129
I am also eagerly awaiting this update. Can we just get this breaking change (broken by GraphQL V4 update) fix out as soon as possible? Personally, I really don't mind if V5 comes quickly after, having this working is far more important to me.

[2021-04-22 21:07] sungam3r commented on #129
I'm sorry for the delay. I give an OSS almost all free time, which I have not so much lately. To think about and make all changes, check them and test takes a lot of time. We have several projects on support. It's impossible to manage everything In a limited time. Will have to wait.

[2021-04-26 16:43] rmarteleto commented on #129
hi @sungam3r, I am also interested in V4. How can I help to start contributing to this project in general?

[2021-04-26 17:03] Shane32 commented on #129
The holdup is #128 , I believe, which @sungam3r and @joemcbride were working on.  I'm not sure how you or I can help @rmarteleto .

@sungam3r If you have set aside working on #128, and if the current version compiles and is usable, we should release it, and release v5 if and when #128 is complete.  It is irresponsible of us as maintainers of an OSS project to have projects remain in 'limbo' for an

[2021-04-26 17:11] Xelit3 commented on #129
Hi all

I was having the same [issue](https://github.com/graphql-dotnet/graphql-dotnet/issues/2445) than @julienFlexsoft.

Let me know if I can help in something related to this release.

[2021-04-26 21:56] joemcbride commented on #129
@Shane32 My major concern is that the current refactor removes functionality that users of the framework may depend on, as well as makes it more complicated to use.  You could previously fully evaluate policies outside the context of the GraphQL Rule.  With the refactor that is no longer the case.  So if anyone was relying upon that behavior they would now have to write code that the framework sho

[2021-04-26 22:00] Shane32 commented on #129
I understand.  But can we ship it without #128 ?  Or does it need work (one way or another) before another version can be released?  I've not been really following this repo and, not having used this project, have no opinion on its design.  I just think if it's not going to be worked on, it should be released without #128 -- or no?

[2021-04-26 22:14] joemcbride commented on #129
@Shane32 It looks like there is another commit on the main branch which has upgrades for V4 that looks like it could go out.  The main CI is breaking on upgrading to v4.2.0, not sure why (looks like a github actions issue vs. a failing test issue).

[2021-04-26 22:35] joemcbride commented on #129
@Shane32 Looks like there are a few other changes required, due to having some classes from this library moved to the core library.  Looking at that.

[2021-04-26 22:56] joemcbride commented on #129
#148 fixes those issues and should be able to be shipped.  I think we'll just need to remove the `-preview` from the `.csproj` to create an official release.

[2021-04-27 12:12] sungam3r commented on #129
All releases are published via [publish](https://github.com/graphql-dotnet/authorization/blob/master/.github/workflows/publish.yml) workflow, no need to remove `-preview`. I will return to work on #128 today. In fact, there are not so many corrections for comments. We will be able to discuss the corrected version and release v4 with or without #128.

[2021-04-27 16:43] Shane32 commented on #129
Ok then we will hold off on another release for the moment.

[2021-04-27 17:01] sungam3r commented on #129
I thought again and let's publish as it is. It is not known how much it still will be delayed.

[2021-04-28 07:00] sungam3r commented on #129
https://github.com/graphql-dotnet/authorization/releases/tag/4.0.0

[2021-04-28 07:00] #129 closed

[2021-05-05 12:44] Xelit3 opened #152 "ClaimsPrincipal not retrived trying to use AuthorizeWith in GraphQL queries"
Hi all,

I am trying to follow the [example ](https://github.com/graphql-dotnet/authorization/tree/master/src/Harness) provided for an authorization mechanism in a GraphQL query. The project is using JWT like default schema, and I tested with a REST test controller and the ClaimsIdentity is well managed.

However, in the GprahQL schemas I am always retrieving that the user is not containing the re

[2021-05-05 21:28] joemcbride commented on #152
1) This is probably because ASP.NET is not trying to authenticate the JWT before hitting the GraphQL endpoint/middleware. Does your API always require authentication, or are some queries allowed for anonymous users?

2) Do you have Authentication wired up in services for JWT?

[code]

[code]

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-5.0&tabs=vis

[2021-05-07 07:44] Xelit3 commented on #152
Hi @joemcbride !!

Thanks a lot for your quick reply

In relation to point 1: All endopoints will require authentication, so I can imagine that it would be better to protect the whole schema right? By the moment I was only testing with one query.

Then, regarding point 2 and 4 are ok currently.

I will take a look to point 3, because it is true, my project is currently using the Middleware from Gr

[2021-05-12 23:04] mmmikeal commented on #73
i tried your solution @sungam3r for a similar issue i'm having but i get `System.InvalidOperationException: 'No service for type 'CoreAPI.HomeAccessRequirement' has been registered.'`

[2021-05-12 23:17] mmmikeal commented on #73
`            services.AddSingleton<IAuthorizationRequirement>(x =>
                new HomeAccessRequirement(x.GetRequiredService<IClient>())
            );
            services.AddGraphQLAuth((_, s) =>
            {
                _.AddPolicy("UserRolePolicy", p => p.AddRequirement(s.GetRequiredService<HomeAccessRequirement>()));
            });`

the above did not work, I am relatively new to C

[2021-05-14 17:41] mmmikeal commented on #73
I see how to do it via what @Ekkeir is saying using handlers in Asp.net core but i cannot find an example or how to create a DI handler class for core auth @sungam3r

[2021-05-14 18:17] mmmikeal commented on #54
this is incredibly helpful @joacoleza , do you have an example of how you added the service you want injected to the httpcontext and how you retrieve it out of the httpcontext? i am getting some type errors

[2021-05-14 19:08] joemcbride commented on #73
`AddGraphQLAuth` is not a part of this project (it is in the server project), but for using DI it should look closer to this:

[code]

If you register `HomeAccessRequirement ` as `IAuthorizationRequirement`, then DI does not have a registration of `HomeAccessRequirement `, only `IAuthorizationRequirement`.

[2021-05-14 19:12] mmmikeal commented on #73
thanks joe, not exactly what i was looking for as i have another service that needs to be injected into HomeAccessRequirement and the above did not work. I am attempting the other route which is to make my injected service available to httpcontextaccessor

[2021-05-14 19:15] mmmikeal commented on #54
for example in my AddGraphQLAuth i have

`services.AddHttpContextAccessor();
 services.AddTransient<MyServiceToBeInjected>();`

and in my requirement i attempt to access it by
var service = `accessor.HttpContext.RequestServices.GetService<MyServiceToBeInjected>();`

[2021-05-14 19:25] joemcbride commented on #73
If you have another service that needs to be injected, that other service just needs to be also registered with DI. If it doesn't work this way, then it won't work the other way either.

[2021-05-14 19:27] joemcbride commented on #73
[code]

[2021-05-14 19:36] mmmikeal commented on #73
thanks! @joemcbride  i have been going in circles over and over with this. Seems like I need to look into why I can't dependency inject this...

[2021-05-14 22:46] joemcbride commented on #73
@mmmikeal  Here's a full working example that uses injection in a `IAuthorizationRequirement`.

https://github.com/graphql-dotnet/examples/pull/66

[2021-05-17 09:13] Xelit3 commented on #152
Hi @joemcbride !!

I have checked your points, but is still not working, let me five some additional info point by point:

1. As commented, at the end all will require auth, so I checked using AuthorizeWith both in some queries and at first. In both I have same result, not retrieving Identity info:

[code]

2. Yes, but not in the same way, however I checked with a REST controller and the token is

[2021-05-17 14:45] joacoleza commented on #54
I no longer have access to the code where this was implemented. Sorry I couldn’t be more help.

[2021-06-17 03:48] ooo2003003v2 opened #154 "Any example for schema first auth example?"
Hello there.
I am looking for an example for schema first auth and using controller for accessing api.
Could anyone provide me an example?

[2021-06-17 22:13] joemcbride commented on #154
This does not use a Controller, but it is Schema First with Auth + Middleware.

https://github.com/graphql-dotnet/examples/pull/66

[2021-06-28 08:22] ooo2003003v2 commented on #154
Thank you for the example. However I would like to add an jwt bearer checking for the my service I added it to my startup.cs but it doesnt seem to work. Any idea why?

start.cs
[code]

JWTAuthenticationExtension.cs
[code]

[2021-07-02 03:13] ooo2003003v2 commented on #154
Is it possible to add jwt/jwe bearer auth and getting the payload data from the token for authorize checking?

[2021-08-09 17:18] ViRuSTriNiTy commented on #152
I was struggling with an empty ClaimsPrinicipal for the last 8 hours also. I think what is missing is this:

[code]

Hope this helps.

[2021-11-12 14:57] john-roland opened #166 "How to get a status code 401 when not authorized"
Hi,

Is there's a way to get a 401 status code instead of a 200 + the graphql message (when the authentication is not ok) ?
I'm trying to have this in order to have an easiest way to renew jwt tokens

maybe by implementing a IValidationRule ?

thanks,

[2021-11-12 15:02] ntaranov commented on #166
@john-roland, you might be interested in reading this for extra background

https://github.com/graphql-dotnet/server/issues/159

[2021-11-12 19:05] Shane32 commented on #166
I wrote my own ASP.NET middleware to process GraphQL requests, and one of the things it does is validate the JWT token passed in and return a 401 response code if it is invalid - prior to calling the document executer (which does validation).  Sorry, not sure how that answer helps if you're using this authorization library.

[2021-11-12 20:03] ntaranov commented on #166
@Shane32 , I wrote a custom middleware piggybacking everything, the magic sauce is here
[code]

[2021-11-14 17:25] sungam3r commented on #166
Of course. Authorize user before handling graphql request. 401/200/xxx - these all are HTTP transport codes. GraphQL as it is has nothing to do with HTTP transport layer.

[2021-12-03 21:15] sungam3r commented on #166
Closed due lack of feedback.

[2021-12-03 21:15] #166 closed

[2021-12-03 21:16] sungam3r commented on #78
Closed due to lack of feedback.

[2021-12-03 21:16] #78 closed

[2021-12-03 21:25] john-roland commented on #166
sorry for being silent, thank you all for your answers, I've done a bit like you've said, interrupting the request before the graphql processing

[2021-12-07 09:33] sungam3r opened #172 "Expose ancestors from TypeInfo in more comfortable way"
See `if (context.TypeInfo.GetAncestor(i++) == actualOperation)` from #171

[2021-12-11 12:18] sungam3r commented on #5
Will be released in v5.

[2021-12-11 12:18] #5 closed

[2021-12-11 20:04] sungam3r commented on #27
Fixed in #179. Will be released in v4.1.

[2021-12-11 20:04] #27 closed

[2021-12-11 22:05] sungam3r commented on #152
@Xelit3 Did you solve this problem? Maybe you mixed APIs from different ptojects? We have this one for general-purpose auth and [another](https://github.com/graphql-dotnet/server/tree/master/src/Authorization.AspNetCore) one for ASP.NET Core.

[2021-12-11 22:19] sungam3r commented on #139
Some thoughts:
1. Probably this was fixed in #179
2. What version do you use? I see `InputVariables`. In `master` I see `Inputs`.
3.

Sorry, I don't understand.

4.

Policies (policy is a named set of 1 or more AuthorizationRequirements) may be applied on any `IProvideMetadata` object namely: input type, object type, object field, input objet field, etc. What do you mean _same context_?

[2021-12-11 22:31] sungam3r commented on #44
Regarding that:

Not true anymore:
![изображение](https://user-images.githubusercontent.com/21261007/145693580-62482d3d-ad69-4a8d-b72f-d27c01329bfc.png)

[2021-12-11 22:34] #15 closed

[2021-12-11 22:50] sungam3r commented on #44
I think the issue of **using** the policies found in the GraphQL document is much broader and in some way relates to #6.  Now I see the problem that it's not just enought to make auth check immidiately when walking over AST. There should be some new component that accumulates all found policies to apply and then ... do something with them. In your case this component should **filter** policies to

[2021-12-11 23:02] sungam3r commented on #44
In other words, the need to fulfill the defined policies depends on the state of the entire AST.

[2021-12-11 23:15] sungam3r commented on #44
Or how do you like this solution - allow to remove validation errors from `ValidationContext`. Imagine `AuthorizePublicRequirement` that may check AST to see if it can safely put away validation error if `INode` from that error points to parent query/mutation/etc. Implement that "safely" may be a bit tricky though.

[2021-12-11 23:40] sungam3r commented on #44
I think this is the main thing.

[2021-12-12 01:44] Shane32 commented on #44
I’m not sure I understand exactly what you suggested @sungam3r . I would comment on the original issue/suggestion, and say I agree, but I’m not exactly sure how. I think of ASP.Net where you can specify AllowAnonymous to make a specific action accessible regardless of the authentication attribute on the parent.

For GraphQL.NET it would be nice if all those conditions are precomputed when the sche

[2021-12-12 17:09] sungam3r commented on #38
Closed as answered.

[2021-12-12 17:09] #38 closed

[2021-12-12 17:33] sungam3r commented on #44
Yesterday I reflected a lot about possible ways to implement. All decisions coming to the head, one way or another were associated with difficulties. Difficulties not only technical details, but also design. As a result, I came to the conclusion, which seems to me the easiest solution to the problem - no need to invent any sophisticated ways to override policies. The easiest, understandable and le

[2021-12-12 17:52] sungam3r commented on #44
@dnndevelopernc I close this for now. Reopen if you have further questions.

[2021-12-12 19:22] sungam3r opened #185 "Move GraphQLAuthExtensions from Harness into new package"
In GraphQL.NET we have
![изображение](https://user-images.githubusercontent.com/21261007/145726309-63c265d3-13e8-43b5-b318-0b6de9cfa847.png)
I propose to do the same here - add package `GraphQL.Authorization.MicrosoftDI`. I remember that I saw a few issues, where people did not understand how to plug-in authorization in theirs apps. They were confused. They were advised to simply copy the code fro

[2021-12-12 19:22] sungam3r commented on #185
If OK, I want to add this feature in v5.

[2021-12-12 21:29] sungam3r commented on #28
@drowhunter See #186 . I would like to release it in v5.

[2021-12-12 21:31] sungam3r opened #187 "Add docs about IAuthorizationSkipCondition and DI"

[2021-12-12 22:31] Shane32 commented on #185
I looked at the two methods within `GraphQLAuthExtensions.cs` file under Harness.  It seems to me that they only need access to `GraphQL.DI.IGraphQLBuilder` as there is no MS-DI or ASP.Net-specific methods contained in there.  These methods should be added to the current version of GraphQL.Authorization, without waiting for v5, as `GraphQL.DI.IGraphQLBuilder` was included in GraphQL.NET 4.6.  I wo

[2021-12-12 23:30] sungam3r commented on #185
`GraphQL.DI.IGraphQLBuilder` 🤔  ? Is this a new project? I have not seen yet, 500 emails :(.

[2021-12-12 23:45] Shane32 commented on #185
See https://graphql-dotnet.github.io/docs/getting-started/dependency-injection#dependency-injection-registration-helpers

Added and revised in:
- https://github.com/graphql-dotnet/graphql-dotnet/pull/2571
- https://github.com/graphql-dotnet/graphql-dotnet/pull/2607
- https://github.com/graphql-dotnet/graphql-dotnet/pull/2612

[2021-12-12 23:51] Shane32 commented on #185
Basically, it allows 3rd party libraries such as GraphQL.Authorization to do the following all within a single `IGraphQLBuilder` method:

- Register services within the user's DI framework (any DI framework, and without a dependency)
- Configure options using the options configuration pattern (without a dependency on the MS options pattern)
- Configure schema options
- Configure execution options

[2021-12-13 00:09] Shane32 commented on #185
@sungam3r Check out this sample which uses the new `IGraphQLBuilder` approach:

https://github.com/graphql-dotnet/graphql-dotnet/blob/master/src/GraphQL.Harness/Startup.cs#L30..L51

[2021-12-13 00:25] Shane32 commented on #44
@sungam3r I don’t think we should close this issue. Redesigning the schema isn’t typically an acceptable solution for most users. The feature request isn’t unreasonable and is probably a good idea.

[2021-12-25 11:12] sungam3r commented on #152
Reopen if you have any questions.

[2021-12-25 11:12] #152 closed

[2021-12-28 21:36] #185 closed

[2022-01-28 19:08] alexistamand commented on #139
Hi @JRDrummond ,
I just came across this issue. I'm working on implementing something similar as stated in your "Resolution".
I was wondering how you were accessing the IResolveFieldContext.Arguments in your AuthorizationEvaluator?
This would greatly help me,
Thanks in advance.

[2022-02-04 20:15] sungam3r commented on #34
Closed as answerred and due to lack of feedback.

[2022-02-04 20:15] #34 closed

[2022-03-10 21:47] c-marco-guevara commented on #28
I'm having the same issue. I want to protect all my queries/mutations, but letting the introspection query run unauthenticated, because I need to run the apollo healthchecks from my github actions pipelines and it depends on the introspection query.

[2022-03-11 21:28] sungam3r commented on #28
Before the v5 release in April we (@Shane32 and I) will look through all such "pending" issues and decide merge or not.

[2022-05-01 20:16] sungam3r commented on #6
Initial problem can be solved by role-based auth - https://github.com/graphql-dotnet/graphql-dotnet/pull/3067 . "Admin" and "Teacher" from initial post look more like roles, not policies. ping @Shane32

[2022-05-01 20:43] Shane32 commented on #6
Agree @sungam3r .  As of GraphQL v5, roles can be applied to the GraphQL schema rather than only policies, which would work in the method requested.  (Requires implementation by the authorization rule within this repository, which has not been done here yet.)

I can also explain how authorization works in ASP.Net Core, but I am not sure how it applies to this repository.

Typical ASP.Net Core auth

[2022-05-09 08:45] dannykruitbosch opened #220 "Method 'ValidateAsync' in type 'GraphQL.Authorization.AuthorizationValidationRule' from assembly 'GraphQL.Authorization, Version=4.0.0.0"
Hi,

I'm trying to use the authorization features, but run into this issue when using version 4.0.0 of the authorization package and version 6.0.0 of GraphQL.
When I want to start my server app, I get the following error message:
`Method 'ValidateAsync' in type 'GraphQL.Authorization.AuthorizationValidationRule' from assembly 'GraphQL.Authorization, Version=4.0.0.0, Culture=neutral, PublicKeyToken

[2022-05-09 09:04] sungam3r commented on #220
v5 auth package required - #180 .

GraphQL server I think (not a GraphQL.NET itself with latest version 5.2.0).

[2022-05-10 12:52] dannykruitbosch commented on #220
Any ETA on v5 auth package?

[2022-05-10 15:35] Shane32 commented on #220
I rewrote the Server project's auth library recently, with support for anonymous fields, roles, policies, fields skipped or included via directives, and so on.  It is based on the ASP.NET Core authorization and authentication design and works with requests over WebSockets as well.  One limitation it has is that it does not perform authorization checks on input graph types.  You can get it here: ht

[2022-05-11 06:31] sungam3r commented on #220
@Shane32 I merged `master` into `develop`, resolved conflicts and I'm ready to release v5 today after your review of #180.

[2022-05-11 08:36] sungam3r commented on #220
Today 😉

[2022-05-11 11:49] dannykruitbosch commented on #220
Hi, don't know really. I am a bit confused on what to use. I don't think it's that clear from the documentation on what to use in which situation. Today I've updated all my dependencies and switched to the one in the server project. It works now ;)

[2022-05-11 19:47] sungam3r commented on #220
https://github.com/graphql-dotnet/authorization/releases/tag/5.0.0
https://www.nuget.org/packages/GraphQL.Authorization/5.0.0

Closing this issue. Feel free to ask further questions if any.

[2022-05-11 19:47] #220 closed

[2022-05-18 09:57] fl99kl opened #235 "Question: AuthorizeWithPolicy is being ignored"
Hello,

I've spent the last days trying to figure out how to implement authorization in my project. However I can't figure out how. At the moment I'm just trying to protect one Field of my type depending on a claim, but it doesn't seem as if the authorization takes place at all. Independent of what I set as a claim, I'm always able to retrieve data. To me it looks like the whole authorization is s

[2022-05-18 11:11] daixpham commented on #235
same here !

[2022-05-18 15:27] Shane32 commented on #235
Personally, I suggest removing the GraphQL.Server and GraphQL.Authorization packages and using GraphQL.AspNetCore3 instead, which is easy to use and has lots of documentation.  We are in the process of replacing all the code in the GraphQL.Server.Transports.AspNetCore package with the code in the GraphQL.AspNetCore3 project, but it may be another month or more until that is complete.  GraphQL.AspN

[2022-05-20 06:36] fl99kl commented on #235
My GraphQL Controller:

[code]

Statup.cs
[code]

CompositeQuery:
[code]
[code]

and CompositeMutation:
[code]

I have also tried changing to the GraphQL.AspNetCore3 package and follow the documentation there. The authorization for all requests works. However I need to protect individual fields and when trying to configure it in startup like:
[code]
I'm getting the following error:
[code]
Maybe th

[2022-05-20 11:24] Shane32 commented on #235
Well the last issue is easy. Set the RequestServices property to the service provider when calling the document executer.

From memory: (I’ll double check in a bit)

`_.RequestServices = HttpContext.RequestServices;`

[2022-05-20 12:50] Shane32 commented on #235
You're also missing the cancellation token and the operation name, and variables are deserializing the entire json string rather than just the variables property, and the extensions property is also missing.

[code]

There's another issue with my sample above, however: you're using Newtonsoft.Json to deserialize `rawJson` but called `AddSystemTextJson` to use the System.Text.Json GraphQL deseriali

[2022-05-20 14:14] Shane32 commented on #235
I updated the controller sample to demonstrate WebSocket support as well, although at that point you might as well use the middleware, which is much simpler to use.  Just call `app.UseGraphQL("/graphql");` in your startup and you can remove the controller entirely.  You'd also probably need to set up the user context builder when you configure GraphQL:

[code]

[2022-05-20 17:24] fl99kl commented on #235
That did solve the problem. The authorization now works like a charm.

Big thanks to you for your help!

[2022-05-20 17:24] #235 closed

[2022-05-22 05:50] sungam3r commented on #235
@fl99kl Long story short - add `IProvideClaimsPrincipal` to your `GraphQlUserContextDictionary`:
[code]

[2022-07-09 16:39] HnatiukSerhiy opened #237 "GraphQL .net authorization with JWT token"
I am trying to implement authorization but it doesn't work properly. The idea of my project is when user sends request to "welcome" field he gets an error about authorization required, but even if I send to it with token in header it still returns an error. I have reviewed a lot of the same issues and repository examples but don't get it.

### Program.cs
[code]
### AppQuery
[code]
### GraphQLUserC

[2022-07-09 16:53] Shane32 commented on #237
Have you verified that the client is passing the JWT bearer token in the authorize header?  Can you post a copy of the entire Authorize header including the JWT token here?

[2022-07-09 17:25] HnatiukSerhiy commented on #237
![image](https://user-images.githubusercontent.com/91598957/178116179-b6b85626-f077-41bf-8f54-69ffa58c3478.png)
![image](https://user-images.githubusercontent.com/91598957/178116230-b0ab9ee5-0ae1-49bf-a850-937dc4c125de.png)
Is it enough? Because I am not sure if it possible to review the whole header in altair.

[2022-07-10 01:36] Shane32 commented on #237
I have JWT authentication working in a few of my installations but I still don’t immediately see anything wrong with your setup.

I suggest you create a git repository with your progress so far and I can download it and take a look.

[2022-07-10 09:10] HnatiukSerhiy commented on #237
https://github.com/HnatiukSerhiy/GraphQLAuthorisationTest

[2022-07-10 14:07] Shane32 commented on #237
Reference the `GraphQL.Server.Authorization.AspNetCore` NuGet package and not the `GraphQL.Authorization` package.

Then change your startup like this:

[code]

You can also delete the GraphQLUserContext class.  (Or you can continue to use it for other purposes; but I removed the reference from the startup.)

Notice that `p.RequireClaim(System.Security.Claims.ClaimTypes.Role, "User")` was changed

[2022-07-10 14:10] Shane32 commented on #237
I'm sure there's a way to use the `GraphQL.Authorization` package, but I'm not familiar with that package; sorry.  The `GraphQL.Server.Authorization.AspNetCore` package is part of `GraphQL.Server` and designed for use with ASP.NET Core

[2022-07-10 14:32] HnatiukSerhiy commented on #237
No need to apologize, you helped me a lot. Thank you!

[2022-07-10 14:32] #237 closed

[2022-07-12 12:56] julienFlexsoft opened #238 "AddGraphQLAuth no longer works after switching to Middleware"
I used to have all GraphQL config setup in the startup.cs, but now I moved everything to a middleware. Problem is that the custom auth policies I had setup no longer works and I can't find why. I cannot find any examples or docs for this specific scenario.

**Startup.cs**

[code]

**GraphQLAuthExtensions.cs**
[code]

**GraphQLMiddleware.cs**
[code]

**AuthenticationRequirement.cs**
[code]

The fie

[2022-07-15 05:41] sungam3r commented on #238
Solved in https://github.com/graphql-dotnet/graphql-dotnet/issues/3224

[2022-07-15 05:41] #238 closed

[2022-07-18 10:34] HnatiukSerhiy opened #239 "Return 401 and 403 status code"
My task is to implement jwt authorization using graphql. It works but it always return 200 or 400 status code. As far as I understand graphql .net works in such a way that it always return 200/400 codes.  So I decide to solve this broblem by adding status codes to headers in JwtBearerEvents.

[code]
But I get only 401 status code header if client sends _invalid token_, if he sends an empty Authori

[2022-07-18 18:50] sungam3r commented on #239
For web applications you may (and should) use [server](https://github.com/graphql-dotnet/server) project. v7 is coming and will be released soon. `develop` branch contains completely rewritten by @Shane32 codebase (compared with v6) with different examples.

[2022-07-19 09:22] HnatiukSerhiy commented on #239
You mean I will be able to change this behavior in v7? Because at now I don't see _WriteJsonResponseAsync_ method in GraphQLHttpMiddleware class and _AccessDeniedError_ type.

[2022-07-19 16:51] HnatiukSerhiy commented on #239
Thank you!

[2022-07-19 16:51] #239 closed